<div>
  <h1>Asociar cuenta de Mercado de Pago a <b>Footbooking</b></h1>
  <div *ngIf="isAlreadyLinked">
    <p>Ya tienes asociada tu cuenta de Mercado de Pago!</p>
    <p>Ahora podrás <b>cobrar reservas</b> de manera online y <b>crear torneos</b> para tus clientes e interesados.</p>
  </div>
  <div *ngIf="!isAlreadyLinked">
    <p>Al asociar tu cuenta de Mercado de Pago autorizas a que podamos hacer transacciones a tu cuenta de Mercado de Pago. De este modo los clientes podrán efectuar reservas y pagarlas utilizando la plataforma de Mercado de Pago, debitandose el pago directamente a tu cuenta!.</p>
    <p>A su vez podrás acceder a la funcionalidad de <b>Creación de Campeonatos</b>!!</p>
    <button type="button"class="btn btn-success" data-toggle="modal" (click)="linkMPAccount()">
      Vincular Cuenta
    </button>
  </div>
</div>
