<div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center flex-column">
    <div class="img oro"></div>
    <div><span>
      {{primerPremio}}
    </span></div>
    <div *ngIf="primerEquipo && status === 'Finalizado'">
      <span>Equipo: {{primerEquipo}}</span>
    </div>
  </div>
  <div *ngIf="segundoPremio" class="col-6 pos-rel d-flex justify-content-center align-items-center flex-column">
    <div class="img plata"></div>
    <div>
      <span>{{segundoPremio}}</span>
    </div>
    <div *ngIf="segundoEquipo && status === 'Finalizado'">
      <span>Equipo: {{segundoEquipo}}</span>
    </div>
  </div>
  <div *ngIf="tercerPremio" class="col-6 pos-rel d-flex justify-content-center align-items-center flex-column">
    <div class="img bronce"></div>
    <div>
      <span>{{tercerPremio}}</span>
    </div>
    <div *ngIf="tercerEquipo && status === 'Finalizado'">
      <span>Equipo: {{tercerEquipo}}</span>
    </div>
  </div>
</div>
