div.profile-picture {
	max-width: 300px;
	max-height: 300px;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
.profile-sidebar {
	border-radius: 4px;
	border : 1px solid #ccc;
	margin-top: 20px;
	align-content: center;
}
.club-profile-info strong{
	color: #00a651;
}

div.profile-picture > img {
	margin-top: 15px;
}

.club-profile-fields > div{
	display: inline-block;
}

div.file-upload.hr-inline-group > label.upload.button {
	width: 150px;
	text-align: center;
	font-size: small;
	background: #028b45;
}

div.file-upload.hr-inline-group > label.clear.button {
	width: 150px;
	text-align: center;
	font-size: small;
	background: firebrick;
	margin-left: 10px;
}

.user-section ul {
	display: inline-block !important;
}

