div.profile-picture {
	max-width: 300px;
	max-height: 300px;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
.profile-sidebar {
	border-radius: 4px;
	border : 1px solid #ccc;
	margin-top: 20px;
	align-content: center;
}
.club-profile-info strong{
	color: #00a651;
}

div.profile-picture > img {
	margin-top: 15px;
}

.club-profile-fields > div{
	display: inline-block;
}

div.file-upload.hr-inline-group > label.upload.button {
	width: 150px;
	text-align: center;
	font-size: small;
	background: #028b45;
}

div.file-upload.hr-inline-group > label.clear.button {
	width: 150px;
	text-align: center;
	font-size: small;
	background: firebrick;
	margin-left: 10px;
}

.user-section ul {
	display: inline-block !important;
}

div#field-control .field-control-container {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-radius: 0 4px 4px 4px;
	padding: 25px 35px;
}
div#field-control div.field-control-header {
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	padding: 10px 35px;

}
div#field-control div.field-control-header > div > div {
	display: flex;
	justify-content: space-between;

}
div#field-control button.field-control-remove-btn {
	float: right;
}
div#field-control {
	margin-bottom: 15px;
	margin-top: 15px;
}
button#field-array-add-btn {
	float: right;
}

.card.card-cascade.wider.reverse .card-body {
	z-index: 3;
	margin-top: -1rem;
	border-radius: 4px;
	border: 1px solid #eeeeee;
	/*webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);*/
	/*box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);*/
}

.card.card-cascade.wider .card-body {
	margin-left: 4%;
	margin-right: 4%;
	background: #fff;
	z-index: 1;
	border-radius: 0 0 .3rem .3rem;
}

.card.card-cascade .card-body {
	padding-top: 1.8rem;
}

.card-body {
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}


/*NAVBAR DE ADMIN CLUB*/

.logo {
	text-align: center;
}

/*#navigation{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}*/

.navi i {
	font-size: 20px;
}

#navigation {
	background: #ffffff;
}

#navigation {
	padding: 0;
}


.navi a {
	border-bottom: 1px solid #0d172e;
	border-top: 1px solid #0d172e;
	color: #000000;
	display: block;
	font-size: 17px;
	font-weight: 500;
	padding: 28px 20px;
	text-decoration: none;
}

.navi i {
	margin-right: 15px;
	color: #5584ff;
}

.navi .active a {
	background: #ffffff;
	border-left: 5px solid #5584ff;
	padding-left: 15px;
}

.navi a:hover {
	background: #122143 none repeat scroll 0 0;
	border-left: 5px solid #5584ff;
	display: block;
	padding-left: 15px;
}


.navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0e1a35;
}

.circle-logo {
	margin: 0 auto;
	max-width: 30px !important;
	text-align: center;
}
.hidden-xs{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* Para cambiar el fondo del dropdown a un gris mas negro */
#dropdown-top-alternative {
	background-color: #25262a;
}





.card {
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #FFFFFF;
	color: #252422;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}
.card .image {
	width: 100%;
	overflow: hidden;
	height: 260px;
	border-radius: 6px 6px 0 0;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.card .image img {
	width: 100%;
}
.card .content {
	padding: 15px 15px 10px 15px;
}
.card .header {
	padding: 20px 20px 0;
}
.card .description {
	font-size: 16px;
	color: #66615b;
}
.card h6 {
	font-size: 12px;
	margin: 0;
}
.card .category,
.card label {
	font-size: 14px;
	font-weight: 400;
	color: #9A9A9A;
	margin-bottom: 0px;
}
.card .category i,
.card label i {
	font-size: 16px;
}
.card label {
	font-size: 15px;
	margin-bottom: 5px;
}
.card .title {
	margin: 0;
	color: #252422;
	font-weight: 300;
}
.card .avatar {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 5px;
}
.card .footer {
	padding: 0;
	line-height: 30px;
}
.card .footer .legend {
	padding: 5px 0;
}
.card .footer hr {
	margin-top: 5px;
	margin-bottom: 5px;
}
.card .stats {
	color: #a9a9a9;
	font-weight: 300;
}
.card .stats i {
	margin-right: 2px;
	min-width: 15px;
	display: inline-block;
}
.card .footer div {
	display: inline-block;
}
.card .author {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.card .author i {
	font-size: 14px;
}
.card.card-separator:after {
	height: 100%;
	right: -15px;
	top: 0;
	width: 1px;
	background-color: #DDDDDD;
	content: "";
	position: absolute;
}
.card .ct-chart {
	margin: 30px 0 30px;
	height: 245px;
}
.card .table tbody td:first-child,
.card .table thead th:first-child {
	padding-left: 15px;
}
.card .table tbody td:last-child,
.card .table thead th:last-child {
	padding-right: 15px;
}
.card .alert {
	border-radius: 4px;
	position: relative;
}
.card .icon-big {
	font-size: 3em;
	min-height: 64px;
}
.card .numbers {
	font-size: 2em;
	text-align: right;
}
.card .numbers p {
	margin: 0;
}
.card ul.team-members li {
	padding: 10px 0px;
}
.card ul.team-members li:not(:last-child) {
	border-bottom: 1px solid #F1EAE0;
}

.card-user .image {
	border-radius: 8px 8px 0 0;
	height: 150px;
	position: relative;
	overflow: hidden;
}
.card-user .image img {
	width: 100%;
}
.card-user .image-plain {
	height: 0;
	margin-top: 110px;
}
.card-user .author {
	text-align: center;
	text-transform: none;
	margin-top: -65px;
}
.card-user .author .title {
	color: #403D39;
}
.card-user .author .title small {
	color: #ccc5b9;
}
.card-user .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 15px;
}
.card-user .avatar.border-white {
	border: 5px solid #FFFFFF;
}
.card-user .avatar.border-gray {
	border: 5px solid #ccc5b9;
}
.card-user .title {
	font-weight: 600;
	line-height: 24px;
}
.card-user .description {
	margin-top: 10px;
}
.card-user .content {
	min-height: 200px;
}
.card-user.card-plain .avatar {
	height: 190px;
	width: 190px;
}

.card-map .map {
	height: 500px;
	padding-top: 20px;
}
.card-map .map > div {
	height: 100%;
}

.card-user .footer,
.card-price .footer {
	padding: 5px 15px 10px;
}
.card-user hr,
.card-price hr {
	margin: 5px 15px;
}

.card-plain {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}
.card-plain .image {
	border-radius: 4px;
}

div#profileClubImage {
	width: 100%;
	height: 300px;
}

div#profileClubImage > img {
	width:100%;
	height: 200px;
}

div#profileClubContainer {
	margin-top: 50px;
}

.carousel-inner {
	height:22rem !important;
}
.carousel-item.active{
	height:22rem !important;
	background-repeat: no-repeat;
	-moz-background-size: cover;
}
