<div>

    <div class="page">

        <div id="breadcrumb-section" class="section">
            <div class="container">
                <div class="page-title text-center">
                    <h1>Confirma tu reserva</h1>
                </div>
            </div>
        </div><!-- breadcrumb-section -->



        <div class="avt-post-wrapper section">
            <div class="container">
                <div class="avt-post">
                    <form action="#">

                    <!-- client information -->

                        <div class="seller-option avtpost-fields">
                            <div class="col-xs-12">
                                <h4>Tus datos</h4>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="post-inner">
                                        <div class="row form-group">
                                            <label class="col-md-4"> Nombre {{player?.name | uppercase}} </label>
                                        </div>
                                    </div><!-- post-inner -->
                                </div>

                                <div class="col-md-6">
                                    <div class="post-inner">
                                        <div class="row form-group">
                                            <label class="col-md-4"> Apellido {{player?.lastName | uppercase}} </label>
                                        </div>
                                    </div><!-- post-inner -->
                                </div>
                                <div class="col-md-6">
                                    <div class="post-inner">
                                        <div class="row form-group">
                                            <label class="col-md-4">Telefono de Contacto   {{player?.phoneNumber | uppercase}}</label>
                                        </div>
                                    </div><!-- post-inner -->
                                </div>
                            </div>
                        </div><!-- seller-section -->


                        <fieldset>
                            <div class="seller-option avtpost-fields">
                                <div class="col-xs-12">
                                    <h4>Datos de la reserva</h4>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Club </label>
                                                <div class="col-md-8">
                                                    <label class="col-md-4">{{booking.club.name}} </label>
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Direccion</label>
                                                <div class="col-md-8">
                                                    <label class="col-md-10">{{booking.club.address.address}} </label>
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Telefono</label>
                                                <div class="col-md-8">
                                                    <label class="col-md-4">{{booking.club.phoneNumber}} </label>
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4"> Cancha </label>
                                                <div class="col-md-8">
                                                    {{booking.field.fieldName}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4"> Tipo de cancha </label>
                                                <div class="col-md-8">
                                                    {{booking.field.fieldType}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Cantidad de jugadores </label>
                                                <div class="col-md-8">
                                                    {{booking.field.cantPlayers}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4"> Servicios disponibles </label>
                                                <div class="col-md-8" *ngFor="let s of booking.field.services">
                                                    {{s.display}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Hora de la reserva </label>
                                                <div class="col-md-8">
                                                    {{booking.timeBook}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4">Fecha de la reserva </label>
                                                <div class="col-md-8">
                                                    {{booking.dateBook}}
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>





                                </div>
                            </div><!-- product-section -->


                            <div class="seller-option avtpost-fields">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="row form-group">
                                                <label class="col-md-4"> Total a pagar </label>
                                                <div class="col-md-4">
                                                   <h4> $ {{booking.field?.price}}</h4>
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>

                                     <div class="col-md-6">
                                        <div class="post-inner">
                                            <div class="form-group">
                                                <span>Por favor, selecciona una forma de pago </span>
                                                <div class="payment-options">
                                                    <ul>
                                                        <li class="payment-option">
                                                            <input type="radio" name="payment-option" value="payment-one">
                                                            <label for="payment-one">En sitio</label>
                                                        </li>
                                                        <li class="payment-option">
                                                            <input type="radio" name="payment-option" value="payment-two">
                                                            <label for="payment-two">Mercado Pago</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- post-inner -->
                                    </div>
                                </div>
                            </div><!-- seller-option -->
                            <div class="submit-section">
                                <div class="ad-condition checkbox">
                                    <label for="submit-post">
                                        <input type="checkbox" name="submit-post" id="submit-post">
                                         <a href="#">Aceptar término y condiciones</a>

                                    </label>
                                </div>
                                <li class="list-inline-item" >
                                    <button (click)="confirm()"   type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Reservar</button>
                                </li>
                                <!-- Modal -->
                                <div *ngIf="confirmado" id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Información</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Su reserva se ha confirmado
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="goToMisReservas()">Cerrar</button>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <!--FIN MODAL-->



                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div> <!-- avt-post -->
    </div>	<!-- page -->
</div>