<p>Password del iusuario</p>

<form [formGroup]="passwordForm">
    <div class="row" >
        <div class="col-md-6">
            <div class="post-inner">
                <div class="row form-group">
                    <label class="col-md-4" for="password">Nueva Contraseña </label>
                    <div class="col-md-8" >
                        <input formControlName="password" id="password" class="form-control" type="password"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4" for="repeat-password">Repetir Contraseña </label>
                    <div class="col-md-8" >
                        <input id="repeat-password" class="form-control" type="password"/>
                    </div>
                </div>
                <input type="submit" value="Actualizar" class="button btn-primary">
            </div>
        </div>
    </div></form>