<div class="form-group">
  <form novalidate [formGroup]="faseForm">
    <div formArrayName="gamesForm">
      <div *ngFor="let game of faseForm.get('gamesForm'); let i=index">
    <label>
      <span>Full name</span>
      <input
        type="text"
        placeholder="Your full name"
        formControlName="name">
    </label>
    <label>
      <span>Email address</span>
      <input
        type="password"
        placeholder="Your passwornd"
        formControlName="password">
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="password"
        placeholder="Confirm your password"
        formControlName="passwordRepeat">
    </label>
        <div align="right">
          <button type="submit" class="btn btn-primary">Guardar </button>
        </div>
    </div>
    </div>
  </form>

</div>



