<div class="card">
  <div class="card-body">
    <div class="card-header">Partido</div>
    <div class="card-body" [formGroup]="game" *ngFor="let game of games">
      <div class="row">
        <div class="col">
          <label class="label-form">Equipo 1</label>
          <select class="form-control" formControlName="equipo1">
            <option>{{game.equipo1}}</option>
          </select>
        </div>
        <div class="col">
          <label class="label-form">Equipo 2</label>
          <select class="form-control" formControlName="equipo2">
            <option>{{game.equipo2}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="label-form">Cancha</label>
          <select class="form-control" formControlName="field">
            <option>Default select</option>
            <option>Equipo 1</option>
            <option>Equipo 2</option>
          </select>
        </div>
        <div class="col">
          <label class="label-form">Hora de juego</label>
          <select class="form-control" formControlName="time">
            <option>{{game.hora}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="label-form">Equipo 1</label>
          <select class="form-control" formControlName="arbitro">
            <option>Default select</option>
            <option>Equipo 1</option>
            <option>Equipo 2</option>
          </select>
        </div>

        <div class="col">
          <label class="label-form">Dia</label>
          <input class="dropdown category-dropdown" [dpDayPicker]="config" name="datePicker" placeholder="DD-MM-AAAA"
                 id="calendar" inputElementConteiner="#inputConteiner" theme="dp-material" formControlName="day">
        </div>
      </div>
    </div>

  </div>

</div>

