<div class="container-fluid destacados">
  <div class="row">
    <div class="col">
      <h1>Clubs Destacados</h1>
    </div>
  </div>
  <div class="container-fluid">
    <ngb-carousel
      [interval]="-1"
      *ngIf="clubs"
      class="destacados-carousel carousel-fade"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
    >
      <div class="row" *ngIf="clubs.length < 6">
        <ng-template ngbSlide>
          <div class="fb-md-2" *ngFor="let club of clubs">
            <app-card class="col" [club]="club"></app-card>
          </div>
        </ng-template>
      </div>
      <div class="row" *ngIf="clubs.length > 5">
        <ng-template ngbSlide>
          <div class="fb-md-2" *ngFor="let club of clubs.slice(0, 5)">
            <app-card class="col" [club]="club"></app-card>
          </div>
        </ng-template>
        <ng-template ngbSlide class="item-flex">
          <div class="fb-md-2" *ngFor="let club of clubs.slice(5, clubs.length)">
            <app-card class="col" [club]="club"></app-card>
          </div>
        </ng-template>
      </div>
    </ngb-carousel>
  </div>
</div>
