<div class="container-fluid">
    <div class="row" id="profileClubContainer">
        <div class="col-lg-4 col-md-5">

            <div class="card card-user">
                <div id="profileClubImage" class="image">
                    <img src="/uploads/{{club?.profileImg}}" alt="..."/>
                </div>
                <div>
                    <div class="author">
                        <h4 class="title">{{club?.name}}<br />
                            <a href="#"><small>@{{user?.username}}</small></a>
                        </h4>
                    </div>
                    <p class="description text-center">
                        {{club?.description}}
                    </p>
                </div>
                <hr>

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a (click)="goToUser()">
                                <i class="glyphicon glyphicon-home"></i>
                                &nbsp;&nbsp;Usuario </a>
                        </li>

                        <li>
                             <a a (click)="goToInfo()">
                                <i class="glyphicon glyphicon-user"></i>
                                &nbsp;&nbsp;Info del Club</a>
                        </li>
                        <li>
                            <a (click)="goToPassword()">
                                <i class="glyphicon glyphicon-cog"></i>
                                &nbsp;&nbsp;Password </a>
                        </li>
                        <li>
                            <a (click)="goToFields()">
                                <i class="glyphicon glyphicon-cog" ></i>
                                &nbsp;&nbsp;Modificar Canchas </a>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <!--{{user | json}}-->
                <!--{{club | json}}-->
                <!--{{club | json}}-->
            <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

