<div class="contact-seller widget">

  <h4>Comentarios</h4>

          <div *ngIf="clubComentarios.length == 0">
             No hay comentarios registrados
          </div>
        <div class="card border-light mb-3" *ngFor="let c of clubComentarios.reverse()">
          <div class="card-body">
            <p class="card-text">{{c.comment}}</p>
            <h6 class="card-subtitle mb-2 text-muted">Por: {{c.userName}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{[(c.createdOn | date:'M/d/yy, h:mm a')]}}</h6>
          </div>
        </div>
</div>
<div class="contact-seller widget">

      <div *ngIf="authenticated " class="card">

        <div class="form-group post-inner">
            <textarea [(ngModel)]="textComment" class="form-control" id="comment" placeholder="{{name}} dejanos tu comentario..."
                      rows="6"></textarea>
        </div>

        <div align="right" class="col align-self-end">
          <button (click)="agregarComment()" class="btn btn-secondary" type="button">Comentar</button>
        </div>

    </div>

</div>


