<!--
<h3>Profile Club Info</h3>
-->
<div class="container">
  <div class="avt-post">
    <form enctype="multipart/form-data" [formGroup]="clubForm" (ngSubmit)="updateClubData()"
          novalidate="novalidate" class="example-form">
      <div class="avtpost-fields">
        <div class="row">
          <div class="col-xs-12">
            <h3>Información del club</h3>
          </div>
          <div class="col-md-12">

            <div class="row" [ngClass]="{ 'has-error': clubForm.get('name').invalid &&
                        (clubForm.get('name').dirty || clubForm.get('name').touched)}">
              <div class="col example-container">
                <mat-form-field>
                  <input matInput formControlName="name" class="form-control" type="text" placeholder="Nombre del club" required>
                </mat-form-field>
                <div name="valida-nombreclub" *ngIf="clubForm.get('name').invalid &&
                        (clubForm.get('name').dirty || clubForm.get('name').touched)">

                  <div *ngIf="clubForm.get('name').errors?.required" class="text-danger">
                    <small class="form-text">El nombre del club es requerido.</small>
                  </div>

                </div>
              </div>
            </div>



            <div class="col">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': clubForm.get('address.address').invalid &&
                        (clubForm.get('address.address').dirty || clubForm.get('address.address').touched)}">
                  <div class="col-md-12 example-container">
                    <mat-form-field>
                      <input matInput placeholder="Ingresar Direccion" autocorrect="off" autocapitalize="off"
                             spellcheck="off" type="text" class="form-control" #address required>
                    </mat-form-field>
                    <div name="valida-direccion" *ngIf="clubForm.get('address.address').invalid &&
                        (clubForm.get('address.address').dirty || clubForm.get('address.address').touched)">
                      <div *ngIf="clubForm.get('address.address').errors?.required" class="text-danger">
                        <small class="form-text">El campo Dirección es requerido.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- post-inner direccion-->

              <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" (mapClick)="clickMapa($event)">
                <agm-marker [latitude]="lat"
                            [longitude]="lng"
                            [iconUrl]="'../../assets/icon/iconochico.png'"
                            [markerDraggable]="draggable" (dragEnd)="nuevaPosicionMarcador($event)">
                </agm-marker>
              </agm-map>

            </div>


            <div class="post-inner">
              <div class="row form-group" [ngClass]="{ 'has-error': clubForm.get('phoneNumber').invalid}">
                <div class="col example-container">
                  <mat-form-field>
                    <input matInput formControlName="phoneNumber" class="form-control" type="number" placeholder="Teléfono" required>
                  </mat-form-field>
                </div>
              </div>
            </div><!-- post-inner telefono-->


            <div class="post-inner">
              <div class="row form-group" [ngClass]="{ 'has-error': clubForm.get('services').invalid &&
                        (clubForm.get('services').dirty || clubForm.get('services').touched)}">
                <label class="col-md-4">Servicios * </label>
                <div class="col-md-8">
                  <tag-input
                    [formControlName]="'services'" name="items"
                    [onlyFromAutocomplete]="true"
                    [placeholder]="'+Servicios'"
                    [secondaryPlaceholder]="'Servicios'">
                    <tag-input-dropdown
                      [showDropdownIfEmpty]="true"
                      [autocompleteItems]="requestAutocompleteItemsFake()">
                    </tag-input-dropdown>
                  </tag-input>

                  <div name="valida-servicio" *ngIf="clubForm.get('services').invalid &&
                        (clubForm.get('services').dirty || clubForm.get('services').touched)">

                    <div *ngIf="clubForm.get('services').errors?.required"
                         class="help-block text-danger">
                      El campo Servicios es requerido.
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- post-inner servicios-->

            <div class="post-inner">
              <div class="row form-group" [ngClass]="{ 'has-error': clubForm.get('description').invalid &&
                        (clubForm.get('description').dirty || clubForm.get('description').touched)}">

                <div class="col-md-12 example-container">
                  <mat-form-field>
                    <textarea matInput formControlName="description" class="form-control" placeholder="Descripción comercial" required>
                    </textarea>
                  </mat-form-field>
                  <div name="valida-descripcion" *ngIf="clubForm.get('description').invalid &&
                        (clubForm.get('description').dirty || clubForm.get('description').touched)">

                    <div *ngIf="clubForm.get('description').errors?.required" class="text-danger">
                      <small class="form-text">La descripción es requerido.</small>
                    </div>
                    <div *ngIf="clubForm.get('description').errors?.maxlength" class="text-danger">
                      <small class="form-text">La descripción no debe ser de mas de 255 caracteres.</small>
                    </div>

                  </div>
                </div>
              </div>
            </div><!-- post-inner repeat descripcion-->

          </div>
        </div>
      </div><!-- club-section -->

      <div formGroupName="socialMedia" class="avtpost-fields">
        <div class="row card-body">

          <div class="col-md-6">
            <div class="post-inner">
              <div class="row form-group">
                <div class="col example-container">
                  <mat-form-field>
                    <input matInput formControlName="facebookId" class="form-control input-md" type="text"
                           placeholder="Facebook" style="font-family:Arial, FontAwesome">
                  </mat-form-field>
                </div>
              </div>
            </div><!-- post-inner facebook-->
            <div class="post-inner">
              <div class="row form-group">

                <div class="col example-container">
                  <mat-form-field>
                    <input matInput formControlName="twitterId" class="form-control" type="text"
                           placeholder="Twitter" style="font-family:Arial, FontAwesome">
                  </mat-form-field>
                </div>
              </div>
            </div><!-- post-inner twitter-->

          </div>

          <div class="col-md-6">
            <div class="post-inner">
              <div class="row form-group">

                <div class="col example-container">
                  <mat-form-field>
                    <input matInput type="text" formControlName="instagramId" class="form-control"
                           placeholder="Instagram" style="font-family:Arial, FontAwesome">
                  </mat-form-field>
                </div>
              </div>
            </div><!-- post-inner instagram-->

            <div class="post-inner">
              <div class="row form-group">

                <div class="col example-container">
                  <mat-form-field>
                    <input matInput type="text" formControlName="googleId" class="form-control"
                           placeholder="Google +" style="font-family: Arial, FontAwesome">
                  </mat-form-field>
                </div>
              </div>
            </div><!-- post-inner google+-->
          </div>
        </div>
      </div><!-- social-media-section -->

<!--      <div class="post-inner">-->
<!--        <div class="row form-group">-->
<!--          <label class="col-md-4">Aceptar Mercado Pago </label>-->
<!--          <div class="col-md-8">-->
<!--            <input type="checkbox" formControlName="mercadoPago">-->
<!--          </div>-->

<!--          <label class="col-md-4">DNI mercado pago </label>-->
<!--          <div class="col-md-8">-->
<!--            <input formControlName="dniMercadoPago" class="form-control" type="number">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>&lt;!&ndash; post-inner telefono&ndash;&gt;-->

      <div class="avtpost-fields">
        <div class="row">
          <div class="col-xs-12">
            <h5>Imágenes</h5>
          </div>
          <div class="col-md-12">
            <div class="post-inner">
              <div class="row form-group" [ngClass]="{ 'has-error': clubForm.get('profileImg').invalid &&
                        (clubForm.get('profileImg').dirty || clubForm.get('profileImg').touched)}">
                <label class="col-md-12">Imagen de portada</label>
                <div class="col-md-12">
                  <image-upload
                      (uploadFinished)="profileUploaded($event)"
                      (removed)="profileRemoved()"
                      [max]="1"

                      [extensions]="['jpg','png']"
                      buttonCaption="Subir"
                      dropBoxMessage="Subir Imagen de portada"
                      clearButtonCaption="Eliminar"
                      [uploadedFiles]="profileImage">
                  </image-upload>
                  <div name="valida-imagen" *ngIf="clubForm.get('profileImg').invalid &&
                        (clubForm.get('profileImg').dirty || clubForm.get('profileImg').touched)">

                    <div *ngIf="clubForm.get('profileImg').errors?.required"
                         class="help-block text-danger">
                      El campo Imagen de perfil es requerido.
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- post-inner carga de portada-->

          </div>
          <div class="col-md-12">
            <div class="post-inner">
              <div class="row form-group">
                <label class="col-md-12">Galería de Imágenes</label>
                <div class="col-md-12">
                  <image-upload
                      (uploadFinished)="galleryUploaded($event)"
                      (removed)="galleryRemoved($event)"
                      [max]="5"
                      [extensions]="['jpg','png']"
                      buttonCaption="Subir"
                      dropBoxMessage="Subir Galería de imagenes"
                      clearButtonCaption="Eliminar Todos"
                      [uploadedFiles]="profileGallery">
                  </image-upload>

                </div>
              </div>
            </div><!-- post-inner carga de galleria-->

          </div>
        </div>
      </div><!-- carga de imagenes -section -->
      <div style="text-align: right;">
        <input type="submit" value="Actualizar" class="btn btn-primary">
      </div>


    </form>
    <!-- {{clubForm.value | json}} -->
  </div>
</div>


