<div class="card effect7" style="width: 100%">
  <div class="row no-gutters">

    <div class="col-5 col-md-12">
      <a [routerLink]="['/results/club/',id]">
        <div
          class="card-img-top cover-image"
          [ngStyle]="{'background-image': 'url('+uploadsBaseURL+image+')'}">
        </div>
      </a>
    </div>

    <div class="col col-md-12">
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/results/club/',id]">{{name}}</a></h5>
        <p class="card-text">
          {{description}}
        </p>
        <div class="social-media">
          <ul class="icon-list">
            <li *ngIf="(socialMedia?.facebookId)" class="icon">
              <a target="_blank" href="{{socialMedia?.facebookId}}">
                <img src="../../assets/icons/icon-facebook.svg" />
              </a>
            </li>
            <li *ngIf="(socialMedia?.instagramId)" class="icon">
              <a target="_blank" href="{{socialMedia?.instagramId}}">
                <img src="../../assets/icons/icon-instagram.svg" />
              </a>
            </li>
            <li *ngIf="(socialMedia?.twitterId)" class="icon">
              <a target="_blank" href="{{socialMedia?.twitterId}}">
                <img src="../../assets/icons/icon-twitter.svg" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>







</div>
