<div class="card effect7" style="width: 100%">
  <div class="row no-gutters">

    <div class="col-5 col-md-12">
      <a [routerLink]="['/results/club/',club?._id]">
        <div
          class="card-img-top cover-image"
          [ngStyle]="{'background-image': 'url('+uploadsBaseURL+club?.profileImg+')'}">
        </div>
      </a>
    </div>

    <div class="col col-md-12">
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/results/club/',club?._id]">{{club?.name}}</a></h5>
        <p class="card-text">
          <i class="fa fa-2x fa-map-marker"></i>{{club.address.shortAddress || ''}}
        </p>
        <div id="fieldTypes">
          <ul class="field-types">
            <li class="badge fb-secondary-bg" *ngFor="let fieldType of fieldTypes" >
              {{fieldType}}
            </li>
          </ul>
        </div>
        <div id="services">
          <ul class="service-list">
            <li class="badge" *ngFor="let service of club?.services">{{service.display}}</li>
          </ul>
        </div>
        <ul></ul>
        <div class="social-media">
          <ul class="icon-list">
            <li *ngIf="(club.socialMedia?.facebookId)" class="icon">
              <a target="_blank" href="{{club.socialMedia?.facebookId}}">
                <img src="../../assets/icons/icon-facebook.svg" />
              </a>
            </li>
            <li *ngIf="(club.socialMedia?.instagramId)" class="icon">
              <a target="_blank" href="{{club.socialMedia?.instagramId}}">
                <img src="../../assets/icons/icon-instagram.svg" />
              </a>
            </li>
            <li *ngIf="(club.socialMedia?.twitterId)" class="icon">
              <a target="_blank" href="{{club.socialMedia?.twitterId}}">
                <img src="../../assets/icons/icon-twitter.svg" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>







</div>
