.ngtt-se__container {
  background-color: transparent !important;
}
.ngtt-se__match-wrapper {
  width:300px;
}
.ngtt-se__match-component-container {
  width: 250px
}
.ngtt-se__round-wrapper {
  min-width: 300px;
}

.header-fases {
  width: 340px;
  height: 100px;
  box-shadow: 2px 5px 10px -1px #cccccc;
  background: white;
  padding: 10px;
  text-align: center;
}
