<div class="container">
  <div class="all-categories section">
<div class="row">
          <div class="col-md-3 col-sm-3">
          <div class="card card-user">
            <div class="sidebar">
              <div class="filter-list">
                <h4 class="list-title"><a href="categories.html">Fases</a></h4>
                <ul class="list-group">
                    <li *ngFor="let fase of fases" [routerLink]="['campeonato/administrar-fases/stage',fase.idfase]">Fase {{fase.nro_fase}} <span></span></li>
                </ul>
              </div><!-- filter-list -->
            </div>
          </div>
        </div>


        <div class="col-md-9 col-sm-9">
          <div class="card">
            <!--{{user | json}}-->
            <!--{{club | json}}-->
            <!--{{club | json}}-->
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
</div>
  </div>
</div>

