<div class="container">
  <div class="section services">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="card col-lg-12 col-md-6 col-sm-6">
        <div class="card-body category-avt text-center">
          <h2>Registrar un jugador</h2>
          <form name="formPlayer" (ngSubmit)="f.form.valid && registerPlayer()" #f="ngForm" novalidate>
            <h3></h3>

            <div class="col-lg-12">
            <!--Name Player-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label class="label-form" for="name">Nombre</label>
                <input type="text" class="form-control" name="namePlayer" [(ngModel)]="model.name" #name="ngModel" required />
                <div *ngIf="f.submitted && !name.valid" class="help-block">El Nombre del complejo es requerido</div>
              </div>
            </div>

            <!--LastName Player-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                <label class="label-form" for="lastName">Apellido</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">El apellido es requerido</div>
              </div>
            </div>
            </div>

            <div class="col-lg-12">
            <!--DNI-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !dni.valid }">
                <label class="label-form" for="dni">DNI</label>
                <input type="number" class="form-control" name="dni" [(ngModel)]="model.dni" #dni="ngModel" required />
                <div *ngIf="f.submitted && !dni.valid" class="help-block">El dni es requerido</div>
              </div>
            </div>

            <!--Phone number-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !phoneNumber.valid }">
                <label class="label-form" for="phoneNumber">Número de teléfono</label>
                <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" />
              </div>
            </div>
            </div>

            <div class="col-lg-12">
            <!--Birth date-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !birthDate.valid }">
                <label class="label-form" for="birthDate">Fecha de nacimiento</label>
                <input type="date" class="form-control" name="birthDate" [(ngModel)]="model.birthDate" #birthDate="ngModel" required />
                <div *ngIf="f.submitted && !birthDate.valid" class="help-block">La fecha de nacimiento es requerida</div>
              </div>
            </div>

            <!--Username-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label class="label-form" for="username">Nombre de usuario</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Nombre de usuario requerido</div>
              </div>
            </div>

            </div>

            <div class="col-lg-12">
            <!--Email-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label class="label-form" for="email">E-mail</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                <div *ngIf="f.submitted && !email.valid" class="help-block">El E-mail es requerido</div>
              </div>
            </div>

            <!--Password-->
            <div class="col-lg-6 col-md-12">
              <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label class="label-form" for="password">Contraseña</label>
                <input type="password" class="form-control" name="passwordPlayer" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Contraseña requerida</div>
              </div>
            </div>

            </div>

            <!--Botones-->
            <div class="form-group row-center">
              <button [disabled]="loading" class="btn btn-primary">Registrarse</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

</div>
