
  <div class="header-section">
    <div class="search-form full-shadow">
        <form (ngSubmit)="buscarClub()" [formGroup]="homeForm" novalidate="novalidate">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <input class="form-control" [dpDayPicker]="config" name="datePicker" placeholder="Fecha"
                       id="calendar" theme="dp-material" formControlName="date" autocomplete="off">
              </div>
              <div class="col-sm-12 col-md-6">

                <div ngbDropdown class="d-inline-block">
                  <a id="dropdownBasic1" ngbDropdownToggle>Qué vas a jugar?</a>
                  <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <li class="dropdown-item" ngbDropdownItem>Privado</li>
                    <li class="dropdown-item" ngbDropdownItem>Campeonato</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <input formControlName="clubName" name="clubname" (keyup.enter)="buscarClub()"
                       type="text" class="form-control" placeholder="Nombre de club">
              </div>
              <div class="col-sm-12 col-md-4">
                <button type="submit" class="form-control btn btn-primary" value="Search">Buscar</button>
              </div>
            </div>
        </form>
        </div>
      </div>
  <div class="container-fluid">
    <div class="row">
      <app-destacados></app-destacados>
    </div>
  </div>
    <!-- search-section -->





