<header id="header" class="clearfix">
  <nav class="navbar navbar-expand-lg navbar-light custom-nav">

    <div class="container nav-custom-container">
      <a class="navbar-brand" [routerLink]="['']">
        <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        FOOT-BOOKING
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact:true}">
              Inicio
            </a>
          </li>

          <div class="navbar-nav" *ngIf="!isAuthenticated()">
            <li class="nav-item">
              <a class="nav-link"
                 [routerLink]="['/login']"
                 routerLinkActive="active-link">
                Iniciar Sesión
              </a>
            </li>
            <li class=" nav-item">
              <a class="nav-link"
                 [routerLink]="['/player/register']"
                 routerLinkActive="active-link">
                Registrarse
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success d-lg-block" [routerLink]="['/club/register']">NUEVO CLUB</a>
            </li>
          </div>

          <div class="navbar-nav" *ngIf="isAuthenticated()">
            <div class="navbar-nav" *ngIf="isClubUser()">
              <li class="nav-item">
                <a [routerLink]="['/club/estadisticas']"
                   class="nav-link"
                   routerLinkActive="active-link">
                  Dashboard
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Campeonatos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <a class="dropdown-item" [routerLink]="['/campeonato/nuevo']">NUEVO</a>
                  <a class="dropdown-item" [routerLink]="['/campeonatos/administrar']">ADMINISTRAR</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Reservas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" [routerLink]="['/club/gestion-canchas']">Administrar</a>
                  <a class="dropdown-item" href="#">Nueva</a>
                </div>
              </li>

            </div>

            <div class="navbar-nav" *ngIf="!isClubUser()">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Preferencias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="goToMisReservas()">Reservas</a>
                  <a class="dropdown-item">Favoritos</a>
                  <a class="dropdown-item">Campeonatos</a>
                </div>
              </li>
            </div>

            <li class="nav-item">
              <a class="nav-link" (click)=goToProfile()> {{name | uppercase}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)=auth.logout() [routerLink]="['/']">Cerrar Sesión</a>
            </li>

          </div>
        </ul>
      </div>
    </div>

  </nav>
</header><!-- header -->


