<div class="container profile-section" ng-hide="true">

  <h3>Editar Perfil</h3>

  <form [formGroup]="playerForm" (ngSubmit)="updatePlayerData()" novalidate="novalidate">

    <div class="form-group row">
      <label class="label-form">Nombre</label>
      <input formControlName="name" type="text" class="form-control" [pattern]="letersPatter"/>
      <div *ngIf="playerForm.get('name').invalid &&
                            (playerForm.get('name').dirty || playerForm.get('name').touched)">
        <div *ngIf="playerForm.get('name').errors?.required" class="alert alert-danger">
          <small>Este campo no puede quedar vacío.</small>
        </div>
        <div *ngIf="playerForm.get('name').errors?.pattern" class="alert alert-danger">
          <small>Este campo sólo acepta letras.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="label-form">Apellido</label>
      <input formControlName="lastName" type="text" class="form-control" [pattern]="letersPatter"/>
      <div *ngIf="playerForm.get('lastName').invalid &&
                            (playerForm.get('lastName').dirty || playerForm.get('lastName').touched)">
        <div *ngIf="playerForm.get('lastName').errors?.required" class="alert alert-danger">
          <small>Este campo no puede quedar vacío.</small>
        </div>
        <div *ngIf="playerForm.get('lastName').errors?.pattern" class="alert alert-danger">
          <small>Este campo sólo acepta letras.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="label-form">Teléfono</label>
      <input formControlName="phoneNumber" type="text" class="form-control" [pattern]="numbersPatter"/>
      <div *ngIf="playerForm.get('phoneNumber').invalid &&
                            (playerForm.get('phoneNumber').dirty || playerForm.get('phoneNumber').touched)">
        <div *ngIf="playerForm.get('phoneNumber').errors?.required" class="alert alert-danger">
          <small>Este campo no puede quedar vacío.</small>
        </div>
        <div *ngIf="playerForm.get('phoneNumber').errors?.pattern" class="alert alert-danger">
          <small>Este campo sólo acepta números.</small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="label-form">DNI</label>
      <input formControlName="dni" type="number" class="form-control" [pattern]="numbersPatter"/>
      <div *ngIf="playerForm.get('dni').invalid &&
                            (playerForm.get('dni').dirty || playerForm.get('dni').touched)">
        <div *ngIf="playerForm.get('dni').errors?.required" class="alert alert-danger">
          <small>Este campo no puede quedar vacío.</small>
        </div>
        <div *ngIf="!playerForm.get('dni').valid" class="alert alert-danger">
          <small>Número de DNI inválido, revise la cantidad de numeros.</small>
        </div>
        <div *ngIf="playerForm.get('dni').errors?.pattern" class="alert alert-danger">
          <small>Este campo sólo acepta números.</small>
        </div>
      </div>
    </div>

<!--    <div class="form-group row">-->
<!--      <label class="label-form">Fecha de nacimiento</label>-->
<!--      <input formControlName="birthDate" class="dropdown category-dropdown" [dpDayPicker]="config" name="datePicker"-->
<!--             theme="dp-material" style="display: block" inputElementConteiner="#inputConteiner" [(ngModel)]="date"/>-->
<!--      <div *ngIf="playerForm.get('birthDate').invalid &&-->
<!--                            (playerForm.get('birthDate').dirty || playerForm.get('birthDate').touched)">-->
<!--        <div *ngIf="playerForm.get('birthDate').errors?.required" class="alert alert-danger">-->
<!--          <small>Este campo no puede quedar vacío.</small>-->
<!--        </div>-->
<!--        <div *ngIf="!playerForm.get('birthDate').valid">-->
<!--          <small class="form-text">La fecha seleccionada no se encuentra en el rango permitido.</small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




    <h4></h4>
    <div style="text-align: right;">
      <input type="submit" value="Actualizar" class="btn btn-primary">
    </div>

  </form>
</div>
