<div id="addComent">

    <div *ngIf="authenticated"   class="card" >
        <div class="card-body">
           <p class="card-text">
            <div class="form-group">
                <textarea [(ngModel)]="textComment" class="form-control" rows="6" id="comment"></textarea>
            </div>
           <div><label> Nombre de usuario</label></div>
            <div class="col align-self-end" align="right">
            <button  type="button" class="btn btn-secondary" (click)="addComment()">Comentar</button>
            </div>
        </div>
    </div>
    <div>
        <h4>Comentarios</h4>
        <div *ngIf="ClubComentarios?.length > 0">
            <div  class="card"  *ngFor="let c of ClubComentarios">
                <div class="card-body">
                <p class="card-text">{{c.textComment}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Por: {{c.userName}}</h6>
                </div>
             </div>
        </div>
    </div>
</div>


