<div id="addComent">

    <div *ngIf="authenticated"   class="card" >
        <div class="card-body">
           <p class="card-text">
            <div class="form-group">
                <textarea [(ngModel)]="textComment" class="form-control" rows="6" id="comment"></textarea>
            </div>
           <div><label>{{currrentUser}}</label></div>
            <div class="col align-self-end" align="right">
            <button  type="button" class="btn btn-secondary" (click)="agregarComment()">Comentar</button>
            </div>
        </div>
    </div>

    <div class="card">
            <div class="card-header">
                <h4>Comentarios</h4>
             </div>
            <div *ngFor="let c of clubComentarios">
                <div class="card-body">
                <p class="card-text">{{c.comment}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Por: {{c.userName}}</h6>
                </div>
                <hr>
             </div>

    </div>
</div>


