  <mat-toolbar color="primary" [class.mobile-toolbar]="mobileQuery.matches">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="mobileQuery.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Footbooking</span>
      <span class="spacer"></span>
      <button mat-stroked-button routerLink="/">Ir al Sitio</button>
      <img class="profile-image" src="{{profileData.profileImg}}" alt="Foto de perfil">
      <span>{{profileData?.name}}</span>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="drawer" #drawer [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"  opened="!mobileQuery.matches" fixedTopGap="56" role="navigation">
      <mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink='/admin/dashboard'>Dashboard</a>
          <a mat-list-item routerLink='/admin/reservas'>Reservas</a>
          <a mat-list-item routerLink='/admin/campeonato'>Campeonatos</a>
          <a mat-list-item [routerLink]="['/admin/club/profile/',profileData?._id]" >Perfil</a>
          <a mat-list-item [routerLink]="['/admin/configuracion/',profileData?._id]">Configuración</a>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
