<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/admin/dashboard'>Dashboard</a>
      <a mat-list-item routerLink='/first'>Canchas</a>
      <a mat-list-item routerLink='/first'>Reservas</a>
      <a mat-list-item routerLink='/second'>Campeonatos</a>
      <a mat-list-item routerLink='/second'>Perfil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
