<div *ngIf="!isAlreadyEnroll">
    <div class="container">
      <div class="ad-details">

        <mat-card>

        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <!--              PASO 1-->
          <mat-step [stepControl]="inscripcionForm" completed = "false">
             <form class="example-container" [formGroup]="inscripcionForm">
              <ng-template matStepLabel>Responsabe de equipo</ng-template>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre de equipo" formControlName="team" class="form-control" type="text" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre y apellido del responsable" formControlName="name" class="form-control" type="text" required>
              </mat-form-field>

              <mat-form-field class="example-full-width" hintLabel="Max 10 caracteres">
                <input matInput placeholder="Teléfono" formControlName="phoneNumber" class="form-control" [min]="00000000" [max]="9999999999" type="number" required>
<!--                <mat-icon matPrefix>perm_phone_msg</mat-icon>-->
              </mat-form-field>
              <div>
                <button class="btn btn-success" [disabled]="isValidStepOne()" matStepperNext>Siguiente</button>
              </div>
            </form>

          </mat-step>
          <!--PASO 2-->
          <mat-step >
            <form class="example-container" [formGroup]="inscripcionForm">
              <ng-template matStepLabel>Términos y Condiciones</ng-template>
              {{torneo.termsAndConditions}}
              <p>
                <mat-checkbox formControlName="TyCcheckbox">
                  <a>Acepto términos y condiciones</a>
                </mat-checkbox>
              </p>
              <div>
                <button class="btn btn-light" matStepperPrevious>Anterior</button>
                <button class="btn btn-success" [disabled]=" isValidStepTwo()"  matStepperNext  >Siguiente</button>
              </div>
            </form>
          </mat-step>
          <!--              PASO 3 -->
          <mat-step >
            <ng-template matStepLabel>Pago</ng-template>
            Casi esta listo!

            <div>
              <button class="btn btn-light" matStepperPrevious>Anterior</button>
              <button class="btn btn-success" [disabled]="inscripcionForm.invalid" (click)="Inscribir()"  >Finalizar</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
          </mat-card>
      </div>
    </div>
</div>

<div *ngIf="isAlreadyEnroll">
  <div class="container">
    <div class="ad-details">
      <mat-card>
        <p>Felicidades, has inscripto a tu equipo al torneo!!</p>
        <p>Cuando se realice el sorteo <b>recibirás un mail</b> al correo especificado en tu cuenta.</p>
        <p>Podrás seguir el estado y avance del torneo en la sección de <a [routerLink]="['/player/mis-campeonatos', currentUser._id]"><b>Campeonatos</b></a>. Mucha suerte!!</p>
      </mat-card>
    </div>
  </div>
</div>




