<div class="contact-seller widget">
     <div *ngFor="let field of club?.fields; let i = index">
       <div class="card effect7" style="width: 100%">
         <div class="row no-gutters">

           <div class="card-body">

             <h5 class="card-title">
               {{field?.fieldName | uppercase}}
               <span class="pull-right">
                 <i class="fa fa-plus"></i>
               </span>
             </h5>

             <!--         <div id="{{i}}" class="panel-collapse collapse">-->
                  <!-- panel-body -->

             <div class="row">
                      <div class="col-sm-3">
                        Cantidad de jugadores
                      </div>
                      <div class="col" [attr.id]="'cantPlayers'+i">
                        <b>{{field?.cantPlayers}}</b>
                      </div>
                    </div>

             <div class="row">
                      <div class="col-sm-3">
                        Tipo de suelo
                      </div>
                      <div class="col">
                        <b>{{field.fieldType}}</b>
                      </div>
                    </div>

             <div class="row">
                      <div class="col-sm-3">
                        Costo total
                      </div>
                      <div class="col">
                        <b>$ {{field?.price}}</b>
                      </div>
                    </div>

             <div class="row">
                      <div class="col-sm-3">
                        Servicios que incluye:
                      </div>
                      <div class="col">
                        <ul class="list-inline ">
                          <li class="list-inline-item" *ngFor="let serv of field?.services"><b>{{serv?.display}}</b>
                          </li>
                        </ul>
                      </div>
                    </div>

             <div class="row">
                      <div class="col-6 col-md-4">
                        <label class="label-form row" for="datePicker5">Fecha de juego(*)</label>
                        <input (ngModelChange)="loadHoursValues($event,field)"
                               class="form-group  dropdown category-dropdown form-control" [dpDayPicker]="config"
                               name="datePicker" placeholder="DD-MM-AAAA"
                               id="calendar" inputElementConteiner="#inputConteiner" theme="dp-material"
                               [(ngModel)]="date[i]">
                      </div>


                      <div class="col-6 col-md-4">
                        <label class="label-form row dropdown" for="datePicker6">Hora de juego(*)</label>
                        <select name="category-group" id="category-group" class="form-control"
                                [(ngModel)]="selectedTime[i]">
                          <option value="Seleccione">Seleccione</option>
                          <option *ngFor="let hora of horasDisponibles">{{hora}}</option>
                        </select>
                      </div>

                      <div class="col-6 col-md-4">
                        <button (click)="reservar(field, i)" align="right" type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#myModal">Reservar
                        </button>
                      </div>
                    </div>

           </div><!-- panel-body -->
<!--         </div>-->

       </div><!-- advanced-filter -->
       </div>
     </div>
</div>

