<div class="lista-inscripcion-container">
  <div class="lista-inscripcion-title">
    <h1>Equipos Inscriptos: {{inscriptions?.length}}</h1>
  </div>
  <div class="lista-inscripcion-card-container">
    <mat-card class="lista-inscripcion-card" *ngFor="let in of inscriptions">
      <mat-card-header>
        <div mat-card-avatar class="lista-inscripcion-header-image"></div>
        <div class="lista-inscripcion-info">
          <mat-card-title>{{in.team?.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col">
                Referente {{in.referringContact?.name}}
              </div>
              <div class="col">
                Tel {{in.referringContact?.phoneNumber}}
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
