<div class="container-fluid">
  <div class="lista-inscripcion-title">
    <h1>Equipos Inscriptos: {{inscriptions?.length}}</h1>
  </div>
  <div>
    <mat-card class="lista-inscripcion-card" *ngFor="let in of inscriptions">
      <mat-card-header>
        <div mat-card-avatar></div>
          <mat-card-title>{{in.team?.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
            <div class="row px-5 py-2">
              <div class="col-4">
                Referente: <strong>{{in.referringContact?.name}}</strong>
              </div>
              <div class="col-4">
                Tel: <strong>{{in.referringContact?.phoneNumber}}</strong>
              </div>
              <div class="col-4">
                Fecha de inscripción: <strong>{{in.inscriptionDate | date:"dd/MM/yy"}}</strong>
              </div>
            </div>
          </mat-card-content>
    </mat-card>
  </div>
</div>
