<div class="container-fluid">
    <div class="row" [formGroup]="registerClubForm">
        <h2 class="center-block">Registro Complejo</h2>
        <div formGroupName="user" class="col-md-8 col-md-offset-2" style="border: 1px solid #cccccc">
            <h3>Datos del Usuario</h3>

                <div class="col-md-6">
                    <div class="form-group">
                <label class="control-label">Nombre de Usuario *</label>
                    <div class="input-group">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input formControlName="username" class="form-control input-md" type="text" >
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label">Email *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input formControlName="email" class="form-control input-md" type="email" >
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Contraseña *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input formControlName="password" class="form-control input-md" type="password" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirmar Contraseña *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control input-md" type="password" >
                    </div>

                </div>
            </div>
        </div> <!--Fin Datos Usuario-->

        <div class="col-md-8 col-md-offset-2" style="border: 1px solid #cccccc">
            <h3>Datos del Club</h3>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nombre del Club *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input formControlName="name" class="form-control input-md" type="text" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Dirección *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                        <input formControlName="address" class="form-control input-md" type="text" >
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">Teléfono</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input formControlName="phoneNumber" class="form-control input-md" type="number" >
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">Servicios</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
                        <input formControlName="services" class="form-control input-md" type="text" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Servicios 2</label>
                    <tag-input formControlName="services"
                               [onlyFromAutocomplete]="true">
                        <tag-input-dropdown [showDropdownIfEmpty]="true"
                                            [autocompleteItems]="['Techado', 'Asador', 'Canchas']">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Descripción *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></span>
                        <textarea formControlName="description" class="form-control input-md"></textarea>
                    </div>
                </div>
            </div>
        </div><!--Fin Datos Club-->

        <div  formGroupName="socialMedia" class="col-md-8 col-md-offset-2" style="border: 1px solid #cccccc">
            <h3>Redes Sociales</h3>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Facebook</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <input formControlName="facebookId" class="form-control input-md" type="text" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Twitter</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <input formControlName="twitterId" class="form-control input-md" type="text" >
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Instagram</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <input type="text" formControlName="instagramId" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Google+</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                        <input type="text" formControlName="googleId" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div><!--Fin Datos SocialMedia-->
    </div>

</div>
