<div class="container-fluid">
    <div class="row">

        <div>
            <div>
                 <a [routerLink]="['editPlayer']">Edit</a>
                 <a [routerLink]="['infoPlayer']">Info</a>
            </div>
            <div style="border: 2px solid red; padding: 1rem;">
                    <router-outlet></router-outlet>
            </div>

            <div class="col-md-8 col-md-offset-2 avtpost-fields">

                <div class="container">
                    <div class="row profile">
                        <div class="col-md-3">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="../../images/default-avatar/default-avatar.png" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle" style="text-align: center;">
                                <div class="profile-usertitle-name">
                                    <h3>{{player?.name}} {{player?.lastName}}</h3>
                                </div>
                                <div class="profile-usertitle-job">
                                    <h4 style="color: #00a651">{{currentUser?.username}}</h4>
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a>
                                            <i class="glyphicon glyphicon-home"></i>
                                        &nbsp;&nbsp;Mi Perfil </a>
                                    </li>

                                    <li>
                                        <!--<a [routerLink]="[{ outlet: { 'profileSelection': ['editPlayer'] } }]">-->
                                        <a [routerLink]="['/player-profile',{outlets:{'profileSelection':'editPlayer'}}]">
                                            <i class="glyphicon glyphicon-user"></i>
                                        &nbsp;&nbsp;Editar Perfil </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="glyphicon glyphicon-cog"></i>
                                        &nbsp;&nbsp;Configuraciones </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="player-profile-activity" ng-hide="true">
                            
                            <router-outlet name="profileSelection"></router-outlet>

                            <div>

                                <form name="editPlayer" (ngSubmit)="editPlayer()" #f="ngForm">
                                    <h3>Nombre</h3><input type="text" class="form-control" name="namePlayer" [(ngModel)]="model.name" #name="ngModel" required value={{player?.name}} placeholder={{player?.name}} />
                                    <h3>Apellido</h3><input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required value={{player?.lastName}} placeholder={{player?.lastName}} />
                                    <h3>Fecha de nacimiento</h3><input type="date" class="form-control" name="birthDate" [(ngModel)]="model.birthDate" #birthDate="ngModel" required value={{player?.birthDate}} placeholder={{player?.birthDate}} />
                                    <h3>email</h3><input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required value={{currentUser?.email}} placeholder={{currentUser?.email}} />
                                    <h3>Teléfono</h3><input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" required value={{player?.phoneNumber}} placeholder={{player?.phoneNumber}} />
                                    <h3>Sobre ti</h3>
                                    <textarea type="text" rows="3" class="form-control" name="biography" [(ngModel)]="model.biography" #biography="ngModel" value={{player?.biography}} placeholder={{player?.biography}} ></textarea>
                                    <h4></h4>
                                    <button class="btn btn-primary">Guardar</button>
                                    <button class="btn btn-primary" type="reset">Restablecer</button>
                                </form>
                            
                            </div>
<!--

                                    <a [routerLink]="[{ outlet: { 'profile-selection': ['editPlayer'] } }]">
                                            <i class="glyphicon glyphicon-home"></i>
                                        &nbsp;&nbsp;Mi Perfil </a>
                                    </li>
                                    
                                    <li>
                                        <a [routerLink]="[{ outlet: { 'profile-selection': ['editPlayer'] } }]">
                                            <i class="glyphicon glyphicon-user"></i>
                                        &nbsp;&nbsp;Editar Perfil </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[{ outlet: { 'profile-selection': ['editPlayer'] } }]">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        &nbsp;&nbsp;Configuraciones </a>

                                        
                            <router-outlet name="profile-selection"></router-outlet>




                            <div *ngIf="!idEdit">
                                <div>
                                    <h3>Fecha de nacimiento</h3>
                                    {{player?.birthDate}}
                                </div>
                                <div>
                                    <h3>email</h3>
                                    {{currentUser?.email}}
                                </div>
                                <div>
                                    <h3>Teléfono</h3>
                                    {{player?.phoneNumber}}
                                </div>
                                <div>
                                    <h3>Sobre ti</h3>
                                    <div *ngIf="!player?.biography">
                                        <textarea class="form-control" rows="3" readonly="yes" placeholder="escribe algo acerca de tí"></textarea>
                                    </div>
                                    <div *ngIf="player?.biography">
                                        <textarea class="form-control" rows="3" readonly="yes">{{player?.biography}}</textarea>
                                    </div>
                                </div>
                                <h3></h3>
                                <button (click)="editData(true)" class="btn btn-primary">Editar</button> 
                            </div>
-->
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>