<div class="container-fluid">
    <div class="row">

        <div class="col-md-8 col-md-offset-2 avtpost-fields">

            <div class="col-md-4 profile-sidebar">
                <div class="profile-picture">
                    <img src="../../images/blog/blog1.jpg">
                    <h3>{{player?.name}} {{player?.lastName}}</h3>
                    <a>Agregar biografía</a>
                    <button class="navbar-toggle collapsed">Editar Información</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="player-profile-activity">
                    <div>
                        <h3>Ultimas reservas</h3>
                        No se encontraron reservas recientes.
                    </div>
                    <div>
                        <h3>Complejos preferidos</h3>
                        No hay complejos preferidos. <a href="#">Busca complejos!</a>
                    </div>
                    <div>
                        <h3>Tus torneos</h3>
                        No has participado de torneos aún. <a href="#">Encuntra torneos!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>