<div class="player-profile-activity" ng-hide="true">
    <h3>Canchas del complejo</h3>
</div>

<form enctype="multipart/form-data" [formGroup]="fieldClubForm"
      novalidate="novalidate">
    <!-- carga de canchas -section -->
    <div class="avtpost-fields">
        <div class="row">
            <fields-array
                    formArrayName="fields"
                    [fieldFormArray]="fieldClubForm.get('fields')">
            </fields-array>
        </div>
    </div><!-- carga de canchas -section -->
</form>