<style>
i {
    font-size: 40px;
}
    .card-body {
        display: inline-flex !important;
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-md-center mt-lg-5">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-3"><i class="fa fa-comments align-middle text-success"
                                                                               aria-hidden="true"></i></div>
                    <div class="col-8 align-middle text-center">
                       <a [routerLink]="['/results/club/',_id]"> <span class="col-8">{{cantComments}}</span>
                        <span class="col-8">Comentarios</span></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body heart">
                    <div class="col-3"><i class="fa fa-heart align-middle text-danger"
                                                                              aria-hidden="true"></i></div>
                    <div class="col-8 align-middle text-center">
                        <span class="col-8">4.0</span>
                        <span class="col-8">Valoración</span></div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    450 Comentarios
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    450 Comentarios
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-lg-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Reservas realizadas en el año
                </div>
                <div class="card-body">
                    <ngx-charts-bar-vertical *ngIf="loaded"
                            [view]="view1"
                            [scheme]="options.colorScheme"
                            [results]="bookingMonthChart"
                            [gradient]="options.gradient"
                            [xAxis]="options.showXAxis"
                            [yAxis]="options.showYAxis"
                            [showXAxisLabel]="options.showXAxisLabel"
                            [showYAxisLabel]="options.showYAxisLabel"
                            [yAxisLabel]="options.yAxisLabel1"
                            (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-md-center mt-lg-5">
        <div class="col-12" align="center">
            <div class="card">
                <div class="card-body">
                    <ngx-charts-advanced-pie-chart
                            [view]="view"
                            [scheme]="options.colorScheme1"
                            [animations]="options.animations"
                            [results]="statusChart"
                            [label]="'Cantidad de reservas'"
                            (select)="onSelect($event)">
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
        </div>
    </div>

</div>