
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-16">
            <ngx-charts-pie-grid
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    (select)="onSelect($event)">
            </ngx-charts-pie-grid>
        </div>
        <div class="col-12">
            <ngx-charts-bar-vertical
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>

</div>