<div class="player-profile-activity" ng-hide="true">
    <h3>Editar configuracion del usuario</h3>
</div>

<form [formGroup]="userForm" (ngSubmit)="updateEmail()">
<div class="row" >
    <div class="col-md-12">
        <div class="post-inner">
            <div class="row form-group">
                <label class="col-md-4" for="username">Nombre de Usuario * </label>
                <div class="col-md-8" >
                    <input formControlName="username" id="username" class="form-control" type="text" disabled/>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4" for="email">Email de Usuario * </label>
                <div class="col-md-8" >
                    <input formControlName="email" id="email" class="form-control" type="text"/>
                </div>
            </div>
            <div style="text-align: right;">
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
        </div>

    </div>
</div>
</form>