<div class="container">
    <form name="formUpdatePlayer" (ngSubmit)="f.form.valid && registerPlayer()">
        <div>
            <h3>Cambiar contraseña</h3>
            <h4>Contraseña anterior</h4>
            <input type="password" name="oldPassword" />
            <h4>Nueva contraseña</h4>
            <input type="password" name="newPassword" />
            <h4>Confirmar contraseña</h4>
            <input type="password" name="confirmPassword" />
        </div>
        <button class="btn btn-primary">Cambiar Contraseña</button>
    </form>
    <div>
        <h3></h3>
        <button class="btn btn-primary">Eliminar Cuenta</button>
    </div>
</div>