<div>
	<div>
		<h3>Fecha de nacimiento</h3>
		{{player?.birthDate}}
	</div>
	<div>
		<h3>email</h3>
		{{currentUser?.email}}
	</div>
	<div>
		<h3>Teléfono</h3>
		{{player?.phoneNumber}}
	</div>
	<div>
		<h3>Sobre ti</h3>
		<div *ngIf="!player?.biography">
			<textarea class="form-control" rows="3" readonly="yes" placeholder="escribe algo acerca de tí"></textarea>
		</div>
		<div *ngIf="player?.biography">
			<textarea class="form-control" rows="3" readonly="yes">{{player?.biography}}</textarea>
		</div>
	</div>
	<h3></h3>
	<button (click)="editData(true)" class="btn btn-primary">Editar</button> 
</div>