<h3>Hola</h3>
<!--<div class="profile-view">
    <form name="formUpdatePlayer" (ngSubmit)="f.form.valid && registerPlayer()">
        <div>
            <h3>Nombre</h3>
            <input type="text" name="name" value="{{player?.name}}" />
        </div>
        <div>
            <h3>Apellido</h3>
            <input type="text" name="lastName" value="{{player?.lastName}}" />
        </div>
        <div>
            <h3>Fecha de nacimiento</h3>
            <input type="text" name="birthDate" value="{{player?.birthDate}}" />
        </div>
        <div>
            <h3>email</h3>
            <input type="text" name="email" value="{{currentUser?.email}}" />
        </div>
        <div>
            <h3>Teléfono</h3>
            <input type="text" name="phoneNumber" value="{{player?.phoneNumber}}" />
        </div>
        <div>
            <h3>Sobre ti</h3>
            <div *ngIf="!player?.biography">
                <textarea class="form-control" rows="3" value="escribe algo acerca de tí"></textarea>
            </div>
            <div *ngIf="player?.biography">
                <textarea class="form-control" rows="3">{{player?.biography}}</textarea>
            </div>
        </div>
        <h3></h3>
        <button (click)="editData(false)" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
-->