<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 profile-sidebar">
            <div class="profile-picture">
                <img src="../../images/blog/blog1.jpg">
            </div>
            <h2>{{club?.name}}</h2>
            <h2 *ngIf="!isEdit" (click)="isEdit=true" from="name">{{club?.name}}</h2>
    		<input *ngIf="isEdit" (keydown.enter)="isEdit=false" "type="text" id="name" [(ngModel)]="club.name">
            <div><strong>Dirección: </strong> {{club?.address}}</div>
            <div><strong>Teléfono: </strong>{{club?.phoneNumber}}</div>
        </div>
        <div class="col-md-6 avtpost-fields">
            <div class="club-profile-desc">
                <h3>Descripción</h3>
                <textarea class="form-control" rows="3" readonly="readonly"></textarea>
            </div>
            <div class="club-profile-services">

            </div>
        </div>
    </div>
</div>