

<div class="title-content">
</div>


<!-- footer -->
	<footer id="footer">
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="footer-widget about-widget">
							<h3>Otros sitios</h3>
							<p>Footbooking</p>
							<p>Quienes somos</p>
							<p>Privacidad</p>
							<p>Ayuda</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-widget contact-widget">
							<h3>Redes Sociales</h3>
								<ul class="list-inline social">
									<li><a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus-square"></i></a></li>
									<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
								</ul>

						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="footer-widget contact-widget">
							<h3>Contacto</h3>
							<ul>
								 <li><span><i class="fa fa-envelope"></i> E-mail :</span> <a href="mailto:#"> questions@footbooking.com</a></li>

					        </ul>
						</div>
					</div>
				</div>
			</div><!-- container -->
		</div><!-- footer-top -->

		
		<div class="footer-bottom clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<p>&copy; 2017 Advert. Design & Developed by <a href="http://gridbootstrap.com/">GridBootstrap</a></p>
					</div>
					<!--
					<div class="col-sm-6">
						<div class="payment-opt-icons">
							<span>Payments </span>
							<ul>
	                            <li><img src="images/others/1.png" alt="" class="img-responsive"></li>
	                            <li><img src="images/others/2.png" alt="" class="img-responsive"></li>
	                            <li><img src="images/others/3.png" alt="" class="img-responsive"></li>
	                            <li><img src="images/others/4.png" alt="" class="img-responsive"></li>
	                            <li><img src="images/others/5.png" alt="" class="img-responsive"></li>
	                        </ul>
						</div>
					</div>-->
				</div>
			</div>
		</div><!-- footer-bottom -->
	</footer><!-- footer -->