<div>

    <div class="home-page">

        <div id="home-section" class="parallax-section carousel slide" data-ride="carousel">

            <div class="carousel-inner">


                <div class="carousel-item active" style="background-image:url(images/bg/4.jpg); ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="slider-content">
                                    <h1 data-animation="animated lightSpeedIn">Bienvenido</h1>
                                    <h2 data-animation="animated lightSpeedIn">Footbooking</h2>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div><!-- contaioner -->
                </div><!-- item -->

                <div class="carousel-item" id="carousel-image" style="background-image:url(images/bg/5.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="slider-content">
                                    <h1 data-animation="animated lightSpeedIn">Reservá tu cancha</h1>
                                    <h2 data-animation="animated lightSpeedIn">Elegí donde será tu próximo partido</h2>
                                    <p data-animation="animated lightSpeedIn">Con Footbooking podes reservar tu próximo partido de forma rápida y segura. Seleccioná tu club favorito, elegí tu fecha y jugá!</p>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div><!-- contaioner -->
                </div><!-- item -->

                <div class="carousel-item" style="background-image:url(images/bg/3.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="slider-content">
                                    <h1 data-animation="animated lightSpeedIn">Campeonatos</h1>
                                    <h2 data-animation="animated lightSpeedIn">Participá de los mejores campeonatos de la ciudad</h2>
                                    <p data-animation="animated lightSpeedIn">Con Footbooking podes participar de los mejores campeonatos locales, el registro es muy sencillo. Ingresá aquí para más información. </p>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div><!-- contaioner -->
                </div><!-- item -->

            </div>

            <a class="carousel-control-prev carousel-control" href="#home-section" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next carousel-control" href="#home-section" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div><!-- #home-section -->


        <div id="search-section">
            <div class="container">

                <form (ngSubmit)="buscarClub()" novalidate="novalidate">
                    <div class="search-section">
                        <ul>
                            <li>
                                <input class="form-control" [dpDayPicker]="config" name="datePicker"  placeholder="DD-MM-AAAA"
                                       id="calendar" inputElementConteiner="#inputConteiner" theme="dp-material" [(ngModel)]="date">
                            </li>

                            <li>
                                <div class="dropdown category-dropdown">
                                    <a data-toggle="dropdown" href="#"><span class="change-text">Qué vas a jugar?</span> <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu category-change">
                                        <li class="dropdown-item"><a href="#">Privado</a></li>
                                        <li class="dropdown-item"><a href="#">Campeonato</a></li>
                                    </ul>
                                </div><!-- category-change -->
                            </li>

                            <li>
                                <input [(ngModel)]="clubname" name="clubname" (keyup.enter)="buscarClub()"
                                       type="text" class="form-control" placeholder="Nombre de club">
                            </li>

                            <li>
                                <button type="submit" class="form-control btn btn-primary" value="Search">Buscar</button>
                            </li>

                        </ul>
                    </div>
                </form>

            </div>
        </div>
        <!-- search-section -->
    </div>

    <div class="location-map">
        <h4>UBICACIÓN</h4>
        <div id="gmap">

            <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat"
                            [longitude]="lng" >
                </agm-marker>
            </agm-map>
            <div><label>{{club?.address.address}}</label></div>

        </div>
    </div><!-- location-map -->







</div>





