.content {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  flex-basis: 25%;
  margin: 2rem;
}
.example-right-align {
  text-align: right;
}

.example-card {
  margin-bottom: 2rem;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
