<div class="avt-post-wrapper section">
  <div class="container">
    <div class="form-group">
      <h3>Administrar campeonatos</h3>
    </div>
          <table class="table table-striped">
            <thead>
            <tr>

              <th scope="col">Nombre campeonato</th>
              <th scope="col">Inscriptos</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tourn of myListTournament | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

              <td>
                {{ tourn.nameT }}
              </td>
              <td>
                11/12
              </td>
              <td>{{ tourn.state.name}}</td>
              <td class="row">
                <div ngbDropdown class="dropdown category-dropdown">
                   <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>+</button>
                     <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <div *ngIf="tourn.state.id ==1">
                              <li class="dropdown-item" >Publicar</li>
                          </div>
                              <li class="dropdown-item" >Definicion</li>
                              <li class="dropdown-item" [routerLink]="['/campeonato/administrar-fases']" >Rondas</li>
                         <div *ngIf="tourn.state.id ==2">
                             <li class="dropdown-item" >Inscribir</li>
                         </div>
                            <li class="dropdown-item" >Ver Equipos</li>
                         <div *ngIf="tourn.state.id ==1">
                            <li class="dropdown-item" >Cancelar</li>
                        </div>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
          </div>

  </div>
</div>
