<header id="header" class="clearfix">
	<nav class="navbar navbar-default">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul class="list-inline">
							<li><span><i class="fa fa-envelope-o"></i></span> <a href="#">FootBooking</a></li>
							<li><ul class="list-inline top-social">
								<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>

						</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<div class="user-section">			
						<ul class="list-line">
							<div *ngIf="!auth.isAuthenticated()">
								<li><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar sesión</a></li>
								<li><a [routerLink]="['/player/register']"><i class="fa fa-user" aria-hidden="true"></i> Registrarse</a></li>
								<li><a [routerLink]="['/club/register']" class="btn btn-primary">Complejo</a></li>
							</div>
							<div *ngIf="auth.isAuthenticated()">
								<div *ngIf="auth.isUserClub()">
									<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Gestión de campeonato <span class="caret"></span></a>
										<ul class="dropdown-menu" id="dropdown-top-alternative">
											<li><a>Nuevo campeonato</a></li>
											<li><a>Administrar campeonatos</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Gestión de canchas <span class="caret"></span></a>
										<ul class="dropdown-menu" id="dropdown-top-alternative">
											<li><a>Ver reservas</a></li>
											<li><a>Administrar canchas</a></li>
										</ul>
									</li>
									<li> <label>Hola {{auth.getUserAuthenticated()}}</label></li>
									<li><a (click)=goToProfile()>Mi perfil</a></li>
									<li><a (onclick)=logout() [routerLink]="['/login']"><i class="fa fa-log-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
								</div>

								<div *ngIf="!auth.isUserClub()">
									<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Preferencias<span class="caret"></span></a>
										<ul class="dropdown-menu" id="dropdown-top-alternative">
											<li><a (click)=goToMisReservas()>Mis reservas</a></li>
											<li><a>Complejos preferidos</a></li>
											<li><a>Campeonatos</a></li>
										</ul>
									</li>
									<li><label>Hola {{auth.getUserAuthenticated()}}</label></li>
									<li><a (click)=goToProfile()>Mi perfil</a></li>
									<li><a (onclick)=logout() [routerLink]="['/login']"><i class="fa fa-log-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
								</div>

							</div>
						</ul>	
					</div><!-- user-section -->
				</div>
			</div>
		</div>
	</div><!-- topbar -->

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"></a>
		</div><!-- /navbar-header -->

		<div class="navbar-right">
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a routerLink='/home'>Inicio</a></li>
					<li><a>Contactanos</a></li>
				</ul>
			</div>	
		</div>
	</div><!-- container -->
	</nav><!-- navbar -->
</header><!-- header -->