<header id="header" class="clearfix">
	<nav class="navbar-dark bg-white">
		<div class="topbar">

		<div class="container">

				<div class="row">
					<div class="col-md-3">
						<ul class="list-inline">
							<li class="list-inline-item"><span><i class="fa fa-envelope-o"></i></span> <a href="#">FootBooking</a></li>
							<li class="list-inline-item"><ul class="list-inline top-social">
								<li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>

						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="user-section">			
						<ul class="list-line">
							<div *ngIf="!auth.isAuthenticated()">
								<li class="list-inline-item"><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar sesión</a></li>
								<li class="list-inline-item"><a [routerLink]="['/player/register']"><i class="fa fa-user" aria-hidden="true"></i> Registrarse</a></li>
								<li class="list-inline-item"><a [routerLink]="['/club/register']" class="btn btn-primary">Complejo</a></li>
							</div>
							<div *ngIf="auth.isAuthenticated()">
								<div *ngIf="auth.isUserClub()">
									<!-- Dropdown-menu gestion de campeonato -->
									<li class="list-inline-item"><a aria-haspopup="true" [routerLink]="['/club/estadisticas']">Dashboard</a></li>									<li>
									<div class="dropdown show">
  										<a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestión de campeonato
    									</a>
  										<div class="dropdown-menu" id="dropdown-top-alternative">
    										<a class="dropdown-item" [routerLink]="['/campeonato/nuevo']">Nuevo campeonato</a>
    										<a class="dropdown-item">Administrar campeonatos</a>
										</div>
									</div>
									</li>
									<!-- Dropdown-menu gestion de canchas -->
									<li>
									<div class="dropdown show">
  										<a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestión de canchas
    									</a>

  										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdown-top-alternative">
    										<a class="dropdown-item" [routerLink]="['/club/gestion-canchas']">Ver reservas</a>
    										<a class="dropdown-item">Administrar canchas</a>
										</div>
									</div>
									</li>

									<li class="list-inline-item"> <label>Hola {{auth.getUserAuthenticated()}}</label></li>
									<li class="list-inline-item"><a (click)=goToProfile()>Mi perfil</a></li>
									<li class="list-inline-item"><a (onclick)=logout() [routerLink]="['/login']"><i class="fa fa-log-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
								</div>

								<div *ngIf="!auth.isUserClub()">
									<!-- Dropdown-menu preferencias player -->
									<li>
									<div class="dropdown show">
  										<a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Preferencias
    									</a>

  										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdown-top-alternative">
    										<a class="dropdown-item" (click)="goToMisReservas()">Mis reservas</a>
    										<a class="dropdown-item">Complejos preferidos</a>
    										<a class="dropdown-item">Campeonatos</a>
										</div>
									</div>
									</li>
								<!--	
									<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Preferencias<span class="caret"></span></a>
										<ul class="dropdown-menu" id="dropdown-top-alternative">
											<li class="dropdown-item"><a>Mis reservas</a></li>
											<li class="dropdown-item"><a>Complejos preferidos</a></li>
											<li class="dropdown-item"><a>Campeonatos</a></li>

										</ul>
									</li>
								-->	
									<li class="list-inline-item"><label>Hola {{auth.getUserAuthenticated()}}</label></li>
									<li class="list-inline-item"><a (click)=goToProfile()>Mi perfil</a></li>
									<li class="list-inline-item"><a (onclick)=logout() [routerLink]="['/login']"><i class="fa fa-log-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
								</div>

							</div>
						</ul>
					</div><!-- user-section -->
				</div>
			</div>
		</div>
	</div><!-- topbar -->
	<div class="container">
		<ul class="nav justify-content-end navbar-light">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home">INICIO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">CONTACTANOS</a>
			</li>
		</ul>
	</div>
</nav><!-- navbar -->
</header><!-- header -->
