<header id="header" class="clearfix">
		<nav class="navbar navbar-default">
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<ul class="list-inline">
								<li><span><i class="fa fa-envelope-o"></i></span> <a href="#"> FootBooking</a></li>
								<li><ul class="list-inline top-social">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<div class="user-section">			
								<ul class="list-line">
									<li><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión</a></li>
									<li><a [routerLink]="['/register']"><i class="fa fa-user" aria-hidden="true"></i> Registrarse</a></li>
								</ul>	
								<a href="ad-post.html" class="btn btn-primary">Complejo</a>
							</div><!-- user-section -->
						</div>
					</div>
				</div>
			</div><!-- topbar -->

			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img class="img-responsive" src="images/logo.png" alt="Logo"></a>
				</div><!-- /navbar-header -->
				
				<div class="navbar-right">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">Inicio</a></li>
							<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="category-list.html">Main Category</a></li>
									<li><a href="categories.html">All Category</a></li>
									<li><a href="sub-categories.html">Sub Category</a></li>
									<li><a href="details.html">Ad Details</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="faq.html">FAQ</a></li> 
									<li><a href="ad-post.html">Ad post</a></li>
									<li><a href="signup.html">Sign Up</a></li>
									<li><a href="signin.html">Sign In</a></li>
									<li><a href="error-page.html">Error Page</a></li>
									<li><a href="blank-page.html">Blank Page</a></li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="blog.html">Blog Default</a></li>
									<li><a href="blog-two.html">Blog With Sidebar</a></li>
									<li><a href="blog-detail.html">Blog Details</a></li>
									<li><a href="blog-detail-two.html">Blog Details With Sidebar</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div><!-- container -->
		</nav><!-- navbar -->
	</header><!-- header -->