<div class="avt-post-wrapper section">
  <div class="container">

    <form #form="ngForm"  (ngSubmit)="createTournament()">
      <h3>Nuevo Campeonato</h3>

      <div class="card form-group">
        <div class="card-header">Datos principales</div>
        <div class="card-body form-group">
          <div class="row">
            <div class="col-6 col-md-4">
              <label class="label-form row">Nombre del campeonato (*)</label>
              <input type="text" class="form-control" id="name" name="nameT"
                     [(ngModel)]="tournament.tournamentName" required #nameField="ngModel">
             <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                Ingrese nombre
              </div>
            </div>

            <div class="col-6 col-md-4">
            <label class="label-form row">Fecha de Inicio (*)</label>
            <input class="form-control" type="date"
                   name="datePickerInicio" placeholder="DD-MM-AAAA"
                   [(ngModel)]="tournament.startDate" required #fechaInicioCam="ngModel">
              <div [hidden]="!form.submitted || fechaInicioCam.valid" class="alert alert-danger">
                Ingrese fecha de inicio de campeonato
              </div>
          </div>
            <div class="col-6 col-md-4">
              <label class="label-form row">Fecha de Fin</label>
              <input class="form-control"  type="date"
                     name="datePickerFin" placeholder="DD-MM-AAAA"
                     inputElementConteiner="#inputConteiner" theme="dp-material"
                     [(ngModel)]="tournament.endDate">
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-md-4">
              <label class="label-form row">Tipo de competencia (*)</label>
              <select class=" form-control" name="type"
                      [(ngModel)]="tournament.tournamentType" required #tipoCompetencia="ngModel">
                <option *ngFor="let tipo of tipoTorneo">{{tipo}}</option>
              </select>
              <div [hidden]="!form.submitted || tipoCompetencia.valid" class="alert alert-danger">
                Seleccione un tipo de competencia
              </div>
            </div>

            <div class="col-6 col-md-4">
              <label class="label-form row" >Categoría (*)</label>
              <select class="form-control" name="category"
                      [(ngModel)]="tournament.category" required #categoriaT="ngModel">
                <option *ngFor="let cate of categorias">{{cate}}</option>
              </select>
              <div [hidden]="!form.submitted || categoriaT.valid" class="alert alert-danger">
                Ingrese fecha de inicio de campeonato
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="card form-group">
        <div class="card-header">Inscripciones</div>
        <div class="card-body form-group">
          <div class="row">

            <div class="col-6 col-md-3">
              <label class="label-form row" name="datePicker1"> Fecha de inicio (*)</label>
              <input class="form-control" type="date" name="fechaIniIns"placeholder="DD-MM-AAAA"
                     inputElementConteiner="#inputConteiner" theme="dp-material"
                     [(ngModel)]="tournament.inscriptionStartDate" required #fechaIniIns="ngModel">
              <div [hidden]="!form.submitted || fechaIniIns.valid" class="alert alert-danger">
                Ingrese fecha de inicio de inscripción
              </div>
            </div>

            <div class="col-6 col-md-3">
              <label class="label-form row" for="datePicker2">Fecha de fin (*)</label>
              <input class=" form-control" type="date"name="fechaFinIns"
                     name="datePicker2" placeholder="DD-MM-AAAA"
                     inputElementConteiner="#inputConteiner" theme="dp-material"
                     [(ngModel)]="tournament.inscriptionEndDate" required #fechaFinIns="ngModel">
              <div [hidden]="!form.submitted || fechaFinIns.valid" class="alert alert-danger">
                Ingrese fecha de fin de inscripción
              </div>
            </div>


            <div class="col-6 col-md-3">
              <label class="label-form row " for="cant">Cantidad de equipos</label>
              <input class="form-control " name="cant" type="number" [(ngModel)]="tournament.numbersOfTeams">
            </div>
            <div class="col-6 col-md-3">
              <label class="label-form row" for="costo">Costo de inscripción (*)</label>
              <input class="form-control" type="number" placeholder="$" name="costo"
                     [(ngModel)]="tournament.inscriptionCost" required #fee="ngModel">
              <div [hidden]="!form.submitted || fee.valid" class="alert alert-danger">
                Ingrese costo de inscripción
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card form-group">
        <div class="card-header">Premios</div>
        <div class="card-body form-group">
          <div class="row">
            <div class="col-6 col-md-4">
              <label class="label-form row " >Primer premio (*)</label>
              <input class="form-control " type="text" name="primero"
                     [(ngModel)]="tournament.prize1" required #primero="ngModel">
              <div [hidden]="!form.submitted || primero.valid" class="alert alert-danger">
                Ingrese premio del ganador
              </div>
            </div>
            <div class="col-6 col-md-4">
              <label class="label-form row">Segundo premio</label>
              <input class="form-control" type="text"  name="segundo"
                     [(ngModel)]="tournament.prize2">
            </div>
            <div class="col-6 col-md-4">
              <label class="label-form row" >Tercer premio</label>
              <input class="form-control" type="text" name="tercero"
                     [(ngModel)]="tournament.prize3">
            </div>
          </div>
        </div>
      </div>



      <div class="card form-group">
        <div class="card-header">Descripcion publicitaria(*)</div>
        <div class="card-body">

            <textarea class="form-control" type="text" rows="6" name="descpubli"
                      [(ngModel)]="tournament.publicationDescription" required #publidesc="ngModel">Descripción </textarea>
            <div [hidden]="!form.submitted || publidesc.valid" class="alert alert-danger">
              Ingrese una descripción
            </div>

        </div>
      </div>



      <div class="card form-group">
        <div class="card-header">Términos y condiciones (*)</div>
        <div class="card-body">

            <textarea class="form-control" type="text" rows="6" name="terminos"
                      [(ngModel)]="tournament.termsAndConditions" required #descripcion="ngModel"> Términos y condiciones </textarea>
            <div [hidden]="!form.submitted || descripcion.valid" class="alert alert-danger">
              Ingrese una descripción
            </div>

        </div>
      </div>

      <div align="right">
        <button type="submit" class="btn btn-primary">Crear campeonato</button>
      </div>
    </form>
  </div>
</div>

