<div class="avt-post-wrapper section">
  <div class="container">
    <div>
      <form enctype="multipart/form-data" [formGroup]="registerClubForm"
            novalidate="novalidate" (ngSubmit)="registerClub()">

        <div class="card" formGroupName="user">
          <div class="row card-body">
            <div class="col-12">

              <h2 class="center-block" align="center">Registro Complejo</h2>

            </div>
          </div>
        </div>

        <div class="card" formGroupName="user">
          <div class="row card-body">
            <div class="col-12">
              <h3>Datos de Usuario</h3>
            </div>
            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('user.username').invalid &&
                                        (registerClubForm.get('user.username').dirty || registerClubForm.get('user.username').touched)}">
                  <label class="col-md-4">Nombre de Usuario * </label>
                  <div class="col-md-8">
                    <input formControlName="username" id="username" class="form-control" type="text"
                           placeholder="Nombre de Usuario"/>
                    <div name="validar-username" *ngIf="registerClubForm.get('user.username').invalid &&
                                        (registerClubForm.get('user.username').dirty || registerClubForm.get('user.username').touched)">
                      <div *ngIf="registerClubForm.get('user.username').errors?.required" class="text-danger">
                        <small class="form-text">El nombre de usuario es requerido.</small>
                      </div>
                      <div *ngIf="registerClubForm.get('user.username').errors?.minlength" class="text-danger">
                        <small class="form-text">El nombre de usuario debe tener al menos 3 caracteres.</small>
                        <!--    </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="post-inner select-cat">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('user.email').invalid &&
                        						(registerClubForm.get('user.email').dirty || registerClubForm.get('user.email').touched)}">
                  <label class="col-md-4">Email * </label>
                  <div class="col-md-8">
                    <input formControlName="email" class="form-control" type="email"
                           placeholder="Email">
                    <div name="valida-email" *ngIf="registerClubForm.get('user.email').invalid &&
                        						(registerClubForm.get('user.email').dirty || registerClubForm.get('user.email').touched)">
                      <div *ngIf="registerClubForm.get('user.email').errors?.required" class="text-danger">
                        <small class="form-text">El email es requerido.</small>
                      </div>
                      <div *ngIf="registerClubForm.get('user.email').errors?.email" class="text-danger">
                        <small class="form-text">El email debe ser correcto.</small>
                      </div>

                    </div>
                  </div>

                </div>
              </div><!-- post-inner email -->
            </div>
            <!--</div>-->


            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('user.password').invalid &&
                        								(registerClubForm.get('user.password').dirty || registerClubForm.get('user.password').touched)}">
                  <label class="col-md-4">Contraseña *</label>
                  <div class="col-md-8">
                    <input formControlName="password" class="form-control input-md" type="password"
                           placeholder="Contraseña">
                    <div name="valida-contraseña" *ngIf="registerClubForm.get('user.password').invalid &&
                        								(registerClubForm.get('user.password').dirty || registerClubForm.get('user.password').touched)">
                      <div *ngIf="registerClubForm.get('user.password').errors?.required" class="text-danger">
                        <small class="form-text">La contraseña es requerida.</small>
                      </div>
                      <div *ngIf="registerClubForm.get('user.password').errors?.minlength" class="text-danger">
                        <small class="form-text">La contraseña debe ser de mas de 8 caracteres.</small>
                      </div>

                    </div>
                  </div>
                </div>
              </div><!-- post-inner password-->

              <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('user.repeatPassword').invalid &&
                        								(registerClubForm.get('user.repeatPassword').dirty || registerClubForm.get('user.repeatPassword').touched)}">
                <label class="col-md-4">Rep Contraseña *</label>
                <div class="col-md-8">
                  <input formControlName="repeatPassword" class="form-control input-md" type="password"
                         placeholder="Repetir Contraseña">
                  <div name="valida-contraseña" *ngIf="registerClubForm.get('user.repeatPassword').invalid &&
                        								(registerClubForm.get('user.repeatPassword').dirty || registerClubForm.get('user.repeatPassword').touched)">
                    <div *ngIf="registerClubForm.get('user.repeatPassword').errors?.required" class="text-danger">
                      <small class="form-text">La contraseña es requerida.</small>
                    </div>
                    <div *ngIf="registerClubForm.get('user.repeatPassword').errors?.minlength" class="text-danger">
                      <small class="form-text">La contraseña debe ser de mas de 8 caracteres.</small>
                    </div>
                    <div *ngIf="registerClubForm.get('user.repeatPassword').errors?.MatchPassword" class="text-danger">
                      <small class="form-text">Las contraseñas deben ser las mismas.</small>
                    </div>

                  </div>
                </div>
              </div><!-- post-inner repeat password-->

            </div><!-- user-data-section -->
          </div>
        </div>


        <div class="card">
          <div class="row card-body">
            <div class="col-12">
              <h3>Datos del Club</h3>
            </div>
            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('name').invalid &&
                        (registerClubForm.get('name').dirty || registerClubForm.get('name').touched)}">
                  <label class="col-md-4">Nombre del Club *</label>
                  <div class="col-md-8">
                    <input formControlName="name" class="form-control" type="text">
                    <div name="valida-nombreclub" *ngIf="registerClubForm.get('name').invalid &&
                        (registerClubForm.get('name').dirty || registerClubForm.get('name').touched)">

                      <div *ngIf="registerClubForm.get('name').errors?.required" class="text-danger">
                        <small class="form-text">El nombre del club es requerido.</small>
                      </div>

                    </div>
                  </div>
                </div>
              </div><!-- post-inner nombre del club-->


              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('phoneNumber').invalid}">
                  <label class="col-md-4">Teléfono </label>
                  <div class="col-md-8">
                    <input formControlName="phoneNumber" class="form-control" type="number">

                  </div>
                </div>
              </div><!-- post-inner telefono-->

              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('services').invalid &&
                        (registerClubForm.get('services').dirty || registerClubForm.get('services').touched)}">
                  <label class="col-md-4">Servicios * </label>
                  <div class="col-md-8">
                    <tag-input [formControlName]="'services'" name="items"
                               [onlyFromAutocomplete]="true">
                      <tag-input-dropdown [showDropdownIfEmpty]="true"
                                          [autocompleteObservable]="requestAutocompleteItemsFake">
                      </tag-input-dropdown>
                    </tag-input>

                    <div name="valida-servicio" *ngIf="registerClubForm.get('services').invalid &&
                        (registerClubForm.get('services').dirty || registerClubForm.get('services').touched)">

                      <div *ngIf="registerClubForm.get('services').errors?.required" class="text-danger">
                        <small class="form-text">El campo Servicios es requerido.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- post-inner servicios-->

              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('description').invalid &&
                        (registerClubForm.get('description').dirty || registerClubForm.get('description').touched)}">
                  <label class="col-md-4">Descripción *</label>
                  <div class="col-md-12">
                    <textarea formControlName="description" class="form-control"></textarea>
                    <div name="valida-descripcion" *ngIf="registerClubForm.get('description').invalid &&
                        (registerClubForm.get('description').dirty || registerClubForm.get('description').touched)">

                      <div *ngIf="registerClubForm.get('description').errors?.required" class="text-danger">
                        <small class="form-text">El campo Descripción es requerido.</small>
                      </div>
                      <div *ngIf="registerClubForm.get('description').errors?.maxlength" class="text-danger">
                        <small class="form-text">La descripción no debe ser de mas de 255 caracteres.</small>
                      </div>

                    </div>
                  </div>
                </div>
              </div><!-- post-inner repeat descripcion-->


            </div>

            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('address.address').invalid &&
                        (registerClubForm.get('address.address').dirty || registerClubForm.get('address.address').touched)}">
                  <label class="col-md-12">Dirección * </label>
                  <div class="col-md-12">
                    <input placeholder="Ingresar Direccion" autocorrect="off" autocapitalize="off"
                           spellcheck="off" type="text" class="form-control" #address>
                    <div name="valida-direccion" *ngIf="registerClubForm.get('address.address').invalid &&
                        (registerClubForm.get('address.address').dirty || registerClubForm.get('address.address').touched)">
                      <div *ngIf="registerClubForm.get('address.address').errors?.required" class="text-danger">
                        <small class="form-text">El campo Dirección es requerido.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- post-inner direccion-->

              <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" (mapClick)="clickMapa($event)">
                <agm-marker [latitude]="lat"
                            [longitude]="lng"
                            [iconUrl]="'../../assets/icon/iconochico.png'"
                            [markerDraggable]="draggable" (dragEnd)="nuevaPosicionMarcador($event)">
                </agm-marker>
              </agm-map>

            </div>


          </div>
        </div><!-- club-section -->

        <div formGroupName="socialMedia" class="card">
          <div class="row card-body">
            <div class="col-12">
              <h3>Redes Sociales</h3>
            </div>
            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group">
                  <label class="col-md-4">Facebook</label>
                  <div class="col-md-8">
                    <input formControlName="facebookId" class="form-control input-md" type="text"
                           placeholder="&#xf230;" style="font-family:Arial, FontAwesome">
                  </div>
                </div>
              </div><!-- post-inner facebook-->
              <div class="post-inner">
                <div class="row form-group">
                  <label class="col-md-4">Twitter </label>
                  <div class="col-md-8">
                    <input formControlName="twitterId" class="form-control" type="text"
                           placeholder="&#xf099;" style="font-family:Arial, FontAwesome">

                  </div>
                </div>
              </div><!-- post-inner twitter-->

            </div>

            <div class="col-md-6">
              <div class="post-inner">
                <div class="row form-group">
                  <label class="col-md-4">Instagram</label>
                  <div class="col-md-8">
                    <input type="text" formControlName="instagramId" class="form-control"
                           placeholder="&#xf16d;" style="font-family:Arial, FontAwesome">
                  </div>
                </div>
              </div><!-- post-inner instagram-->

              <div class="post-inner">
                <div class="row form-group">
                  <label class="col-md-4">Google +</label>
                  <div class="col-md-8">
                    <input type="text" formControlName="googleId" class="form-control"
                           placeholder="&#xf0d5;" style="font-family: Arial, FontAwesome">
                  </div>
                </div>
              </div><!-- post-inner google+-->
            </div>
          </div>
        </div><!-- social-media-section -->

        <div class="card">
          <div class="row card-body">
            <div class="col-12">
              <h3>Carga de Imágenes</h3>
            </div>
            <div class="col-md-12">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('profileImg').invalid &&
                        (registerClubForm.get('profileImg').dirty || registerClubForm.get('profileImg').touched)}">
                  <label class="col-md-4">Imagen de portada</label>
                  <div class="col-md-12">
                    <image-upload
                        (uploadFinished)="profileUploaded($event)"
                        (removed)="profileRemoved()"
                        [max]="1"
                        [extensions]="['jpg','png']"
                        buttonCaption="Subir"
                        dropBoxMessage="Subir Imagen de portada"
                        clearButtonCaption="Eliminar">
                    </image-upload>
                    <div name="valida-imagen" *ngIf="registerClubForm.get('profileImg').invalid &&
                        (registerClubForm.get('profileImg').dirty || registerClubForm.get('profileImg').touched)">

                      <div *ngIf="registerClubForm.get('profileImg').errors?.required" class="text-danger">
                        <small class="form-text">El campo Imagen de perfil es requerido.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- post-inner carga de portada-->

            </div>
            <div class="col-md-12">
              <div class="post-inner">
                <div class="row form-group" [ngClass]="{ 'has-error': registerClubForm.get('galleryImg').invalid &&
                        (registerClubForm.get('galleryImg').dirty || registerClubForm.get('galleryImg').touched)}">
                  <label class="col-md-4">Galería de Imágenes</label>
                  <div class="col-md-12">
                    <image-upload
                        (uploadFinished)="galleryUploaded($event)"
                        (removed)="galleryRemoved($event)"
                        [max]="5"
                        [extensions]="['jpg','png']"
                        buttonCaption="Subir"
                        dropBoxMessage="Subir Galería de imagenes"
                        clearButtonCaption="Eliminar Todos">
                    </image-upload>
                    <div name="valida-imagen" *ngIf="registerClubForm.get('galleryImg').invalid &&
                        (registerClubForm.get('galleryImg').dirty || registerClubForm.get('galleryImg').touched)">

                      <div *ngIf="registerClubForm.get('galleryImg').errors?.required" class="text-danger">
                        <small class="form-text">Se debe cargar al menos una imagen en la galeria.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- post-inner carga de galleria-->

            </div>
          </div>
        </div><!-- carga de imagenes -section -->

        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <h3>Carga de Canchas</h3>
            </div>
            <fields-array
                formArrayName="fields"
                [fieldFormArray]="registerClubForm.get('fields')"
                class="col-12">
            </fields-array>
          </div>
        </div><!-- carga de canchas -section -->

        <div class="submit-section">
          <div class="submit-button" style="text-align: right;">
            <br>
            <button class="btn btn-primary" type="submit">Registrarse</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>


<h6 class="mt-3">FormGroup Model (<code>registerClubForm.value</code>)</h6>
<div>
  <pre><code>{{ registerClubForm?.value | json }}</code></pre>
</div>
