<div class="container-fluid h100">
  <div class="row" id="profileClubContainer h-100 justify-content-center align-items-center">

    <div class="container h-100">
      <div class="row h-100 justify-content-center">


        <div class="col-lg-4 col-md-5">
          <div class="card card-user">
            <div id="profileClubImage" class="card-img-top image">
              <img src="{{uploadsBaseURL}}{{club?.profileImg}}" alt="..."/>
            </div>
            <div>
              <div class="author">
                <h4 class="title">{{club?.name}}<br/>
                </h4>
              </div>
              <p class="description text-center">
                {{club?.description}}
              </p>
            </div>
            <hr>

            <div class="profile-usermenu">
              <ul class="list-group list-group-flush">
                <li>
                  <a a (click)="goToInfo()" data-toggle="tab" id="2_tab" class="list-group-item list-group-item-action"
                     data-toggle="list" role="tab" aria-controls="home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    &nbsp;&nbsp;Info del Club</a>
                </li>
                <li>
                  <a (click)="goToFields()" data-toggle="tab" id="4_tab" class="list-group-item list-group-item-action"
                     data-toggle="list" role="tab" aria-controls="home">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    &nbsp;&nbsp;Modificar Canchas </a>
                </li>
                <li>
                  <a (click)="goToPassword()" data-toggle="tab" id="3_tab"
                     class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="home">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    &nbsp;&nbsp;Contraseña </a>
                </li>
              </ul>
            </div>


          </div>

        </div>
        <div class="col-lg-6 col-md-7">
          <div class="card">
            <!--{{user | json}}-->
            <!--{{club | json}}-->
            <!--{{club | json}}-->
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
