<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h2 class="modal-title"> Cancha  {{modalData?.event.booking.field.fieldName | uppercase}}</h2>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-12"><h4>Reserva</h4></div>
                <div class="col-6">Cancha: <label><b>{{modalData?.event.booking.field.fieldName}}</b></label>
                </div>
                <div class="col-6">Fecha de Reserva: <label><b>{{modalData?.event.booking.playingDate |
                    date:"dd/MM/yy"}}</b></label></div>
                <div class="col-6">Precio: <label><b>{{modalData?.event.booking.field.price}}</b></label>
                </div>
                <div class="col-6">Hora de Reserva:
                    <label><b>{{modalData?.event.booking.playingTime}}</b></label></div>
                <div class="col-6">Estado: <label>{{modalData?.event.booking.status}}</label></div>
                <div class="col-6">Forma de Pago:
                    <label><b>{{modalData?.event.booking.paidMethod}}</b></label></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12"><h4>Datos del Cliente</h4></div>
                <div class="col-6">Nombre:
                    <label><b>{{modalData?.event.booking.player.name}}</b></label>
                </div>
                <div class="col-6">
                    Apellido:
                    <label><b>{{modalData?.event.booking.player.lastName}}</b></label></div>
                <div class="col-6">
                    Teléfono: <label><b>{{modalData?.event.booking.player.phoneNumber}}</b></label></div>

            </div>
            <hr>

            <div class="row">
                <div class="col-12"><h4>Estado de la reserva</h4></div>
                <div class="form-group col-md-6">
                    <label for="bookingStatus">Seleccione estado de reserva</label>
                    <select class="form-control" id="bookingStatus" (change)="onStatusChange($event.target.value)">
                        <option *ngFor="let status of modalData?.event.booking.estados" [value]="status" [selected]="status == modalData?.event.booking.status">{{status}}</option>
                    </select>
                </div>

            </div>
        </div>

        <!--<pre>{{ modalData?.event.booking | json }}</pre>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="close(modalData?.event.booking)">Aceptar</button>
    </div>
</ng-template>
<mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate"
        [(locale)]="locale">
</mwl-demo-utils-calendar-header>
<br>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<br><br><br>
