<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">{{modalData?.event.booking.field.fieldName}}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-12"><h4>Reserva</h4></div>
                <div class="col-6"><strong>Cancha: </strong><label>{{modalData?.event.booking.field.fieldName}}</label>
                </div>
                <div class="col-6"><strong>Fecha de Reserva: </strong><label>{{modalData?.event.booking.playingDate |
                    date:"dd/MM/yy"}}</label></div>
                <div class="col-6"><strong>Precio: </strong><label>${{modalData?.event.booking.field.price}}</label>
                </div>
                <div class="col-6"><strong>Hora de
                    Reserva: </strong><label>{{modalData?.event.booking.playingTime}}</label></div>
                <div class="col-6"><strong>Estado: </strong><label>{{modalData?.event.booking.status}}</label></div>
                <div class="col-6"><strong>Forma de
                    Pago: </strong><label>{{modalData?.event.booking.paidMethod}}</label></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12"><h4>Datos del Cliente</h4></div>
                <div class="col-6"><strong>Nombre: </strong><label>{{modalData?.event.booking.player.name}}</label>
                </div>
                <div class="col-6">
                    <strong>Apellido: </strong><label>{{modalData?.event.booking.player.lastName}}</label></div>
                <div class="col-6">
                    <strong>Teléfono: </strong><label>{{modalData?.event.booking.player.phoneNumber}}</label></div>

            </div>
            <hr>

            <div class="row">
                <div class="col-12"><h4>Estado de la reserva</h4></div>
                <div class="form-group col-md-6">
                    <label for="bookingStatus">Seleccione estado de reserva</label>
                    <select class="form-control" id="bookingStatus" (change)="onStatusChange($event.target.value)">
                        <option *ngFor="let status of modalData?.event.booking.estados" [value]="status" [selected]="status == modalData?.event.booking.status">{{status}}</option>
                    </select>
                </div>

            </div>
        </div>

        <!--<pre>{{ modalData?.event.booking | json }}</pre>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close(modalData?.event.booking)">Aceptar</button>
    </div>
</ng-template>
<mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate"
        [(locale)]="locale">
</mwl-demo-utils-calendar-header>
<br>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<br><br><br>
