<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h2 class="modal-title"> Cancha {{modalData?.event.booking.field.fieldName | uppercase}}</h2>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">


      <div class="row">
        <div class="col-12"><h4>Datos del Cliente</h4></div>
        <div class="col-6">Nombre:
          <label><b>{{modalData?.event.booking.player.name}}</b></label>
        </div>
        <div class="col-6">
          Apellido:
          <label><b>{{modalData?.event.booking.player.lastName}}</b></label></div>
        <div class="col-6">
          Teléfono: <label><b>{{modalData?.event.booking.player.phoneNumber}}</b></label></div>

      </div>
      <hr>

      <div class="row">
        <div class="col-12"><h4>Reserva</h4></div>
        <div class="col-6">Cancha: <label><b>{{modalData?.event.booking.field.fieldName}}</b></label>
        </div>
        <div class="col-6">Fecha de Reserva: <label><b>{{modalData?.event.booking.playingDate |
          date:"dd/MM/yy"}}</b></label></div>
        <div class="col-6">Hora de Reserva:
          <label><b>{{modalData?.event.booking.playingTime}}</b></label></div>
        <div class="col-6">Estado: <label>{{modalData?.event.booking.status}}</label></div>
        <div class="col-6">Monto total $ <label><b>{{modalData?.event.booking.field.price}}</b></label>
        </div>
        <div class="col-6">Forma de Pago:
          <label><b>{{modalData?.event.booking.paidMethod}}</b></label></div>
        <div class="col-6">Monto pagado $ <label><b>{{modalData?.event.booking.payment.fee}}</b></label>
        </div>
        <div class="col-6"> Actualización de Monto
          <input [(ngModel)]="montoPagado" type="number" class="form-control" placeholder="Monto Pagado"
                 max="{{modalData?.event.booking.field.price}}" value="{{montoPagado}}">
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12"><h4>Estado de la reserva</h4></div>
        <div class="form-group col-md-6">
          <label for="bookingStatus">Seleccione estado de reserva</label>
          <select class="form-control" id="bookingStatus" (change)="onStatusChange($event.target.value)">
            <option *ngFor="let status of modalData?.event.booking.estados" [value]="status"
                    [selected]="status == modalData?.event.booking.status">{{status}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!--<pre>{{ modalData?.event.booking | json }}</pre>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="close(modalData?.event.booking)">Aceptar</button>
  </div>
</ng-template>
<mwl-demo-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    [locale]="locale">
</mwl-demo-utils-calendar-header>
<br>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<form [formGroup]="nuevaReservaForm" (ngSubmit)="addEvent()">
  <table class="table table-bordered">

    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th></th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        <input formControlName="playerName" type="text" class="form-control">
      </td>
      <td>
        <input type="text" class="form-control" formControlName="playerLastName">
      </td>
      <td>
        <input type="number" class="form-control" formControlName="playerPhoneNumber">
      </td>
      <td rowspan=3>
        <button
            class="btn btn-primary pull-right"
            type="submit">
          Nueva Reserva
        </button>
        <div class="clearfix"></div>
      </td>
    </tr>
    </tbody>
    <tr>
      <th>Cancha</th>
      <th>Fecha de Reserva</th>
      <th>Hora de Reserva</th>

    </tr>

    <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <select name="dropdown-time" class="form-control" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fieldDropdown" (ngModelChange)="setFieldValues($event)">
            <option value=" " selected class="dropdown-item">Canchas</option>
            <option *ngFor="let field of club?.fields; let i = index" [ngValue]="field">{{field.fieldName}}</option>
          </select>
        </div>
      </td>
      <td>
        <input (ngModelChange)="loadHoursValues($event)" [ngModelOptions]="{standalone: true}"
               class="btn dropdown-toggle" [dpDayPicker]="config" name="datePicker" placeholder="DD-MM-AAAA"
               id="calendar" inputElementConteiner="#inputConteiner" theme="dp-material" [(ngModel)]="date">
      </td>
      <td>
        <div class="dropdown">
          <select name="dropdown-time" id="dropdown-time" class="form-control" formControlName="playingTime">
            <option value=" " selected class="dropdown-item">Horarios</option>
            <option *ngFor="let hora of horasDisponibles" [value]="hora">{{hora}}</option>
          </select>
        </div>
      </td>
    </tr>

    </tbody>
    <tr>
      <th>Monto Total</th>
      <th>Monto Pagado</th>
      <th>Estado</th>

    </tr>


    <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" formControlName="fieldPrice">
      </td>
      <td>
        <input type="text" class="form-control" formControlName="fee">
      </td>
      <td>
        <select
            class="form-control"
            formControlName="status"
            [(ngModel)]="statusDropdown"
            (ngModelChange)="setStatusCreateBooking($event)">
          <option *ngFor="let status of bookingStatus; index as i"
                  [value]="status"
                  [attr.selected]="i === 0">
            {{status}}
          </option>
        </select>
      </td>
    </tr>

    </tbody>


  </table>
</form>

<!--<div><pre><code>{{ nuevaReservaForm?.value | json }}</code></pre></div>-->

