<div class="ad-post-wrapper section">
  <div class="container">
    <div id="faq-filter">
      <h3>Historial de reservas </h3>
      <div class="tab-content">
        <div id="all-faq" class="faq-post tab-pane active">
          <div class="faq">

            <div *ngIf="bookings.length === 0">
              No te has inscripto a ningún torneo.
            </div>
            <div *ngIf="bookings.length != 0">

              <div  class="card" *ngFor="let r of bookings">
                <div class="card-header">
                  <b>Club {{r.club.name | uppercase}}</b>
                </div>
                <div class="card-body">
                
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
