<div class="container">
  <div class="row" id="loginContainer">
    <div class="card card-login col-12 col-md-6 col-lg-6 col-xl-4 mx-auto mt-5">
      <div class="card-header">Restablecer contraseña</div>
      <div class="card-body">
        <form name="form" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" novalidate>

          <div class="form-group" [ngClass]="{ 'has-error': validateInput('email') }">
            <label class="label-form">Email</label>
            <input type="text" class="form-control" name="email" formControlName="email" required/>
            <div name="valida-email" *ngIf="validateInput('email')">
              <div *ngIf="resetPasswordForm.get('email').errors?.required" class="text-danger">El email es requerido</div>
            </div>
          </div>
          <div class="form-group row-center">
            <button (click)="resetPassword()" [disabled]="loading" class="btn btn-primary btn-block">Restablecer contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
